{% extends 'page.html' %}

{% block body %}
  <section class="top-section">
    <div class="cover-image">
      {% include 'header.html' %}
      <div class="container top-section-title">
        <div class="row">
          <div class="col-md-12 col-md-offset-4">
            <h3>{% block page_title %}{% endblock %}</h3>
            <h6>{% block page_subtitle %}{% endblock %}</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% block page_body %}{% endblock %}
  {% include "footer.html" %}
{% endblock %}