{% extends 'page.html' %}

{% block body %}
  <section>
    {% include 'header.html' %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Title goes here</h3>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
      </div>
    </div>
  </section>
  {% include "footer.html" %}
{% endblock %}