{% extends 'pages/base.html' %}

{% block page_title %}Invenio Community{% endblock %}
{% block page_body %}
  <section class="section-content-white-bg">
    <div class="container">
      <span class="section-title-light-bg">Where to find us?</span>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>We heavily use Gitter to communicate. Our main channel is <a href="https://gitter.im/inveniosoftware">inveniosoftware</a> but we have many others! Almost one per module. Feel free to pass by and ask your questions.</p>
        </div>
      </div>
      <br>
      <div class="shield-big"><a href="https://gitter.im/inveniosoftware"><img id="copyImg" src="https://img.shields.io/gitter/room/nwjs/nw.js.svg?maxAge=2592000"></a></div>
    </div>
  </section>
  <section class="section-content-light-bg">
    <div class="container">
      <span class="section-title-light-bg">Invenio Developer Forum</span>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>Almost every Monday afternoon (at 4pm CEST) we meet physically and virtually to discuss some interseting topics around the development of Invenio. Everyone is welcome!</p>
          <br>
          <p>You can join these forums from any computer through our videoconference setup. Here the steps:</p>
          <ol>
            <li>Install the videoconferencing software: <a href="https://vidyoportal.cern.ch">Vidyo</a>.</li>
            <li>Join our <a href="https://vidyoportal.cern.ch/flex.html?roomdirect.html&key=ygjcGzMEk8re">virtual room</a>.</li>
          </ol>
        </div>
      </div>
      <br>
      <div class="goto-button"><a href="https://indico.cern.ch/category/6046/">View All Forums</a></div>
    </div>
  </section>
  <section class="section-content-white-bg">
    <div class="container">
      <span class="section-title-light-bg">Invenio User Group Workshop</span>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="alert alert-info centered" role="alert">
            <p><strong>Next IUGW</strong> will take place in Heinz Maier-Leibnitz Zentrum (MLZ) the <em>21-24 March 2017</em>.</p>
            <a href="https://indico.cern.ch/event/557956/">Join us!</a>
          </div>
          <br>
          <p>We meet with all the Invenio users, developers and administrators from around the world, more or less, once a year. We call these events <em>Invenio User Group Workshop</em>. Usually, the workshop consists of a series of lectures, practical exercises, and discussions with Invenio developers. The goal is to enable a better understanding of Invenio features and capabilities, to discuss specific needs, forthcoming features and developments.</p>
        </div>
      </div>
      <br>
      <div class="goto-button"><a href="https://indico.cern.ch/category/6240/">View All Workshops</a></div>
    </div>
  </section>
  <section class="support-section section-content-light-bg">
    <div class="container">
      <span class="section-title-light-bg">Looking for a cloud service and dedicated support?</span>
      <div class="row centered">
        <div class="col-md-8 col-md-offset-2">
          <img src="/static/img/logo-tind.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>Even though you can download and install Invenio for free, if you need proffesional help to run an instance for you and provide support, it is possible thanks to Tind. Tind is a CERN spin-off that provides services on top of Invenio. Check out with them if you wish further information.</p>
        </div>
      </div>
      <br>
      <div class="goto-button"><a href="https://tind.io" target="_blank">Visit Tind</a></div>
    </div>
  </section>

{% endblock %}
