{% extends 'pages/base.html' %}

{% block page_title %}Invenio Community{% endblock %}
{% block page_body %}
  <section class="section-content-white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <span class="section-title-light-bg">Where to find us?</span>
            <p>We heavily use Gitter to communicate. Our main channel is <a href="https://gitter.im/inveniosoftware">inveniosoftware</a> but we have many others! Almost one per module. Feel free to pass by and ask your questions.</p>
            <div class="shield-big"><a href="https://gitter.im/inveniosoftware"><img id="copyImg" src="https://img.shields.io/gitter/room/nwjs/nw.js.svg?maxAge=2592000"></a></div>
        </div>
      </div>
  </section>
  <section class="section-content-light-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <span class="section-title-light-bg">Invenio Developer Forum</span>
          <p>Almost every Monday afternoon (at 4pm CEST) we meet physically and virtually to discuss some interseting topics around the development of Invenio. Everyone is welcome!</p>
          <br>
          <p>You can join these forums from any computer through our videoconference setup. Here the steps:</p>
          <ol>
            <li>Install the videoconferencing software: <a href="https://vidyoportal.cern.ch">Vidyo</a>.</li>
            <li>Join our <a href="https://vidyoportal.cern.ch/flex.html?roomdirect.html&key=ygjcGzMEk8re">virtual room</a>.</li>
          </ol>
          <br>
          <div class="goto-button"><a href="https://indico.cern.ch/category/6046/">View All Forums</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-content-white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <span class="section-title-light-bg">Invenio User Group Workshop</span>
          <div class="alert alert-info centered" role="alert">
            <p>Next IUGW will take place in Heinz Maier-Leibnitz Zentrum (MLZ) the 21-24 March 2017.</p>
            <a href="https://indico.cern.ch/event/557956/">Join us!</a>
          </div>
          <br>
          <p>We meet with all the Invenio users, developers and administrators from around the world, more or less, once a year. We call these events <em>Invenio User Group Workshop</em>. Usually, the workshop consists of a series of lectures, practical exercises, and discussions with Invenio developers. The goal is to enable a better understanding of Invenio features and capabilities, to discuss specific needs, forthcoming features and developments.</p>
          <br>
          <div class="goto-button"><a href="https://indico.cern.ch/category/6240/">View All Workshops</a></div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
