{% extends 'pages/base.html' %}
{% set active_page = "gettingstarted" %}

{% block page_title %}Getting started with Invenio{% endblock %}
{% block page_subtitle %}Installation and first steps{% endblock %}
{% block page_body %}
  <section class="install-section section-content-white-bg">
    <div class="container">
      <span class="section-title-light-bg">Installation</span>
      <div class="row">
        <div class="col-md-6">
          <h6>Invenio 1.2</h6>
          <p>Install latest stable release in a virtual machine using <a href="https://www.vagrantup.com/">vagrant</a>:</p>
          <p class="code">$ <span class="command">git</span> clone https://github.com/inveniosoftware/invenio -b maint-1.2
            $ <span class="command">cd</span> invenio
            $ <span class="command">vagrant</span> up && <span class="command">vagrant</span> ssh web
              web> <span class="command">source .inveniorc</span>
              web> <span class="command">/vagrant/scripts/create-instance.sh</span>
              web> <span class="command">/vagrant/scripts/populate-instance.sh</span>
            $ <span class="command">firefox</span> http://192.168.50.10/record/1</p>
          <p><a href="https://raw.githubusercontent.com/inveniosoftware/invenio/maint-1.2/INSTALL">See detailed instructions for Invenio 1.2</a></p>
        </div>
        <div class="col-md-6">
          <h6>Invenio 3.0</h6>
          <p>Install latest developer preview using <a href="http://www.docker.com/">docker</a>:</p>
          <p class="code">$ <span class="command">git</span> clone https://github.com/inveniosoftware/invenio
            $ <span class="command">cd</span> invenio
            $ <span class="command">docker-compose</span> build
            $ <span class="command">docker-compose</span> up -d
            $ <span class="command">docker-compose</span> run --rm web ./scripts/populate-instance.sh
            $ <span class="command">firefox</span> http://127.0.0.1/
            $ <span class="command">firefox</span> http://127.0.0.1/records/1</p>
          <p><a href="http://invenio.readthedocs.io/en/latest/installation/index.html">See detailed instructions for Invenio 3.0</a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="develop-section section-content-light-bg">
    <div class="container">
      <span class="section-title-light-bg">Development</span>
      <div class="row">
        <div class="col-md-3 centered">
          <i class="large-icon fa fa-github" aria-hidden="true"></i>
        </div>
        <div class="col-md-9">
            <p>Invenio is a modular framework of independent collaborative component packages. You can find a <a href="http://invenio.readthedocs.io/en/latest/modules/index.html">list of available packages</a> in our documentation.  The packages are located in three different GitHub organistations:</p>
          <ul class="fa-ul">
              <li><i class="fa-li fa fa-check"></i><a href="https://github.com/inveniosoftware">inveniosoftware</a>: A collection of base packages, core packages, and additional feature packages that are maintained in a coherent, homogeneous way by the Invenio project team. The main organisation.</li>
            <li><i class="fa-li fa fa-users"></i><a href="https://github.com/inveniosoftware-contrib">inveniosoftware-contrib</a>: A collection of third-party packages extending Invenio functionalities. They are maintained by contributing teams and may follow different practices. The packages may also incubate an experimental or unproven feature that can later mature into the main organisation.</li>
            <li><i class="fa-li fa fa-archive"></i><a href="https://github.com/inveniosoftware-attic">inveniosoftware-attic</a>: A collection of disconinued or retired packages that are no longer maintained.</li>
          </ul>
          <br>
          <p>You may be interested in our <a href="http://invenio.readthedocs.io/en/latest/processes/index.html">development practices</a> and <a href="http://invenio.readthedocs.io/en/latest/processes/developing.html">contributing guide</a>.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="documentation-section section-content-white-bg">
    <div class="container">
      <span class="section-title-light-bg">Documentation</span>
      <div class="row">
        <div class="col-md-3 centered">
          <i class="large-icon fa fa-book" aria-hidden="true"></i>
        </div>
        <div class="col-md-9">
          <p>All the documentation can be found on <a href="http://invenio.readthedocs.io/">Read The Docs</a>. You can read about the installation and customisation of Invenio instances, the architecture and the technology overview, as well as our development practices.</p>
          <p>Further project related information such as our <a href="https://github.com/inveniosoftware/invenio/wiki/Invenio-3.0-Roadmap">roadmap</a> or our <a href="https://github.com/inveniosoftware/invenio/wiki/Invenio-3.0-Build-Status">build status</a> overview can be found on <a href="https://github.com/inveniosoftware/invenio/wiki">GitHub wiki</a> pages.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
