{% extends 'pages/base.html' %}

{% block page_title %}Getting started with Invenio{% endblock %}
{% block page_body %}
  <section class="install-section section-content-white-bg">
    <div class="container">
      <span class="section-title-light-bg">Installing Invenio</span>
      <div class="row">
        <div class="col-md-6">
          <h6>Invenio 1.2</h6>
          <p>Install latest stable release</p>
          <p class="code">$ <span class="command">wget</span> foo
            $ <span class="command">docker</span> pull
            $ <span class="command">docker-compose</span> up -d
            $ <span class="command">firefox</span> 127.0.0.1</p>
            <div class="goto-button"><a href="http://invenio.readthedocs.io/en/stable/">Detailed instructions</a></div>
        </div>
        <div class="col-md-6">
          <h6>Invenio 3.0</h6>
          <p>Install latest developer preview</p>
          <p class="code">$ <span class="command">wget</span> foo
            $ <span class="command">docker</span> pull
            $ <span class="command">docker-compose</span> up -d
            $ <span class="command">firefox</span> 127.0.0.1</p>
            <div class="goto-button"><a href="http://invenio.readthedocs.io/en/latest/">Detailed instructions</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="develop-section section-content-light-bg">
    <div class="container">
      <span class="section-title-light-bg">Developing for Invenio</span>
      <div class="row">
        <div class="col-md-3 centered">
          <i class="large-icon fa fa-github" aria-hidden="true"></i>
        </div>
        <div class="col-md-9">
          <p>Invenio 3 is a multi-modular framework. You can find all of Invenio's modules on <a href="https://github.com/inveniosoftware">GitHub</a>. We do keep a "Build status" list on our <a href="https://github.com/inveniosoftware/invenio/wiki/Invenio-3.0-Build-Status">GitHub Wiki</a> as well! You should know that we explit our modules in three organistations:</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-check"></i><a href="https://github.com/inveniosoftware">inveniosoftware</a>: yada yada</li>
            <li><i class="fa-li fa fa-users"></i><a href="https://github.com/inveniosoftware-contrib">inveniosoftware-contrib</a>: yada yada</li>
            <li><i class="fa-li fa fa-archive"></i><a href="https://github.com/inveniosoftware-attic">inveniosoftware-attic</a>: yada yada</li>
          </ul>
          <br>
          <p>We encourage you to have a look at the code and if you feel like hacking, go ahead and <a href="http://invenio.readthedocs.io/en/latest/processes/developing.html">contribute</a>. Feel free to clone any of our modules:</p>
          <p class="code">$ git clone git@github.com:inveniosoftware[-contrib|-attic]/module_name.git</p>
        </div>
      </div>
      <br>
      <div class="goto-button"><a href="https://github.com/inveniosoftware/invenio">View on GitHub</a></div>
    </div>
  </section>
  <section class="documentation-section section-content-white-bg">
    <div class="container">
      <span class="section-title-light-bg">Invenio Documentation</span>
      <div class="row">
        <div class="col-md-3 centered">
          <i class="large-icon fa fa-book" aria-hidden="true"></i>
        </div>
        <div class="col-md-9">
          <p>All Invenio Documentation can be found on <a href="http://invenio.readthedocs.org/en/latest/installation/" title="Invenio latest release">Read the Docs</a>. There you should be able to find all what you need to install, configure and develop for Invenio. As well, we include introductions to the architecture, modules and technology that is used.</p>
          <p>We also keep some project management related information on <a href="https://github.com/inveniosoftware/invenio/wiki">GitHub</a>.</p>
        </div>
      </div>
      <br>
      <div class="goto-button"><a href="https://invenio.readthedocs.io">View on ReadTheDocs</a></div>
    </div>
  </section>

{% endblock %}
