{% extends 'pages/base.html' %}

{% block page_title %}Getting started with Invenio{% endblock %}
{% block page_body %}
  <section class="section-content-white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <span class="section-title-light-bg">Installing Invenio</span>
            <p>Installing Invenio is a simple task, you only need to use <a href="https://pip.pypa.io/en/stable/">pip</a> from your command line and...a few configuration settings:</p>
            <p class="code">$ pip install invenio</p>
            <br>
            <p>If you already have the source code, you can easily start a demo with Docker:</p>
            <p class="code">
              $ docker-compose build<br>
              $ docker-compose up
            </p>
            <br>
            <p>You can find both source code and Python packages on <a href="https://github.com/inveniosoftware/invenio/releases/latest">GitHub</a> and <a href="https://pypi.python.org/pypi?%3Aaction=search&term=invenio-&submit=search">pypi</a>.</p>
            <br>
            <div class="goto-button"><a href="http://invenio.readthedocs.io/en/latest/installation/index.html">View detailed installation instructions</a></div>
        </div>
      </div>
  </section>
  <section class="section-content-light-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <span class="section-title-light-bg">Developing for Invenio</span>
          <p>Invenio 3 is a multi-modular framework. You can find all of Invenio's modules on <a href="https://github.com/inveniosoftware">GitHub</a>. We do keep a "Build status" list on our <a href="https://github.com/inveniosoftware/invenio/wiki/Invenio-3.0-Build-Status">GitHub Wiki</a> as well!</p>
          <br>
          <p>We encourage you to have a look at the code and if you feel like hacking, go ahead and <a href="http://invenio.readthedocs.io/en/latest/processes/developing.html">contribute</a>. Feel free to clone our repo:</p>
          <p class="code">$ git clone git@github.com:inveniosoftware/invenio.git</p>
          <div class="shield-big"><a class="github-button" href="https://github.com/inveniosoftware/invenio/fork" data-style="mega" data-count-href="/inveniosoftware/invenio/network" data-count-api="/repos/inveniosoftware/invenio#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork inveniosoftware/invenio on GitHub">Fork</a></div>
          <br>
          <div class="goto-button"><a href="https://github.com/inveniosoftware/invenio">View project on GitHub</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-content-white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <span class="section-title-light-bg">Invenio Documentation</span>
          <p>All Invenio Documentation can be found on <a href="http://invenio.readthedocs.org/en/latest/installation/" title="Invenio latest release">Read the Docs</a>.</p>
          <p>We also keep some project management related information on <a href="https://github.com/inveniosoftware/invenio/wiki">GitHub</a>.</p>
          <br>
          <div class="goto-button"><a href="https://invenio.readthedocs.io">View documentation on Read The Docs</a></div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
