{% extends 'pages/base.html' %}
{% set active_page = "showcase" %}

{% block page_title %}How to add my site to the showcase?{% endblock %}
{% block page_subtitle %}Anyone can do it in 4 simple steps{% endblock %}
{% block page_body %}
  <section class="new-site-section section-content-white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-2">
              <div class="numbering">1</div>
            </div>
            <div class="col-md-10">
              <h6>Clone and Create Branch</h6>
              <p>Download the website code and create a new git branch like this:</p>
              <p class="code">$ <span class="command">git</span> clone git@github.com:inveniosoftware/inveniosoftware.org.git
                $ <span class="command">cd</span> inveniosoftware.org
                $ <span class="command">git</span> checkout -b new-site</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="new-site-section section-content-light-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-2">
              <div class="numbering">2</div>
            </div>
            <div class="col-md-10">
              <h6>Beatiful Screenshot</h6>
              <p>Take the best screenshot you can for your site and place it in the right folder. Name the image after your site, as in the following example:</p>
              <p class="code">$ <span class="command">mv</span> mysite.png base/static/img/screenshots/</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="new-site-section section-content-white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-2">
              <div class="numbering">3</div>
            </div>
            <div class="col-md-10">
              <h6>JSON file with your site's data</h6>
              <p>Create a JSON file containing your site's data as in the example:</p>
              <p class="code">$ <span class="command">echo</span> '<span class="json">{
                "name": "CERN Document Server",
                "description": "CERN official repository for publications, articles, reports and multimedia content in HEP.",
                "url": "http://cds.cern.ch",
                "screenshot_filename": "mysite.png",
                "types": ["research-data", "library", "multimedia", "institutional-repository"]
              }</span>' <span class="command">> base/sites/mysite.json</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="new-site-section section-content-light-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-2">
              <div class="numbering">4</div>
            </div>
            <div class="col-md-10">
              <h6>Back to GitHub</h6>
              <p>Now you are all done, you only need to commit your changes, push them to your repo and do a pull request so we can integrate it!</p>
              <p>You will need first to do:</p>
              <p class="code">$ <span class="command">git</span> add base/static/img/screenshots/mysite.png
                $ <span class="command">git</span> add base/sites/mysite.json
                $ <span class="command">git</span> commit -a -m "added my site foo to showcase"
                $ <span class="command">git</span> push origin new-site</p>
              <p>Once this is done, go to your github repo and do a <a href="https://help.github.com/articles/creating-a-pull-request/" target="_blank">Pull Request</a>.</p>
              <img class="pull-request" src="/static/img/pull-request.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
