{% extends 'pages/base.html' %}
{% set active_page = "showcase" %}

{% block page_title %}Invenio instances around the world{% endblock %}
{% block page_subtitle %}More than 60 installations world wide{% endblock %}
{% block page_body %}
  <section class="showcase-section section-content-light-bg">
    <div class="container">

      <div class="centered">
        <p>Invenio is being used in more than 60 installations around the whole. Here you can find a subset of them.</p>
        <p>Do you want to be in this list? <a href="{{url_for('invenio_web.show_subpage', page='showcase', subpage='add')}}">Find out how to add yourself!</a></p>
      </div>
      <br>

      <div class="centered">
        <div class="row">
          <div class="btn-group{% if request.MOBILE %}-vertical{% endif %}" data-toggle="buttons">
            <label class="btn btn-default btn-filter active">
              <input type="radio" name="filters" data-value="*" checked>All
            </label>
            <label class="btn btn-default btn-filter">
              <input type="radio" name="filters" data-value=".research-data">Research Data
            </label>
            <label class="btn btn-default btn-filter">
              <input type="radio" name="filters" data-value=".library">Library
            </label>
            <label class="btn btn-default btn-filter">
              <input type="radio" name="filters" data-value=".multimedia">Multimedia
            </label>
            <label class="btn btn-default btn-filter">
              <input type="radio" name="filters" data-value=".institutional-repository">Institutional Repository
            </label>
          </div>
        </div>
      </div>
      <br>

      <div class="centered" id="loading" >
        <i class="fa fa-spinner fa-lg fa-spin" aria-hidden="true"></i>
      </div>
      <div class="grid hidden">

        {% for site in sites %}
          <div class="thumbnail {{' '.join(site.types)}} {{'featured' if site.featured else ''}}">
            <a href="{{site.url}}" target="_blank"><img src="/static/img/screenshots/{{site.screenshot_filename}}" alt="{{site.name}}"/></a>
            <div class="caption">
              <h3><a class="name" href="{{site.url}}" target="_blank">{{site.name}}</a></h3>
              <p>{{site.description}}</p>
              {% for site_type in site.types %}
                <span class="label label-primary">{{site_types[site_type]}}</span>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

      </div>

    </div>

  </section>

  <script>
    $(window).on('load', function () {
      $('#loading').addClass('hidden');
      $('.grid').removeClass('hidden');
      var $grid = $('.grid').isotope({
        itemSelector: '.thumbnail',
        getSortData: {
          name: function(itemElem) {
            var name = $(itemElem).find('.name').text().toLowerCase();
            if ($(itemElem).hasClass('featured')) {
              return '_' + name;
            } else {
              return name;
            }
          }
        },
        sortBy: 'name'
      });

      $('input:radio').change(function() {
        $grid.isotope({filter: $(this).data('value')});
      });

    });
  </script>

{% endblock %}
