{% extends 'pages/base.html' %}

{% block page_title %}Invenio instances around the world{% endblock %}
{% block page_subtitle %}More than 60 installations world wide{% endblock %}
{% block page_body %}
  <section class="showcase-section section-content-white-bg">
    <div class="container">

      <div class="centered">
        <p>Invenio is being used in more than 60 installations around the whole. Here you can find a subset of them.</p>
      </div>
      <br>

      <div class="centered">
        <div class="row">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default btn-filter">
              <input type="checkbox" value=".research-data">Research Data
            </label>
            <label class="btn btn-default btn-filter">
              <input type="checkbox" value=".library">Library
            </label>
            <label class="btn btn-default btn-filter">
              <input type="checkbox" value=".multimedia">Multimedia
            </label>
            <label class="btn btn-default btn-filter">
              <input type="checkbox" value=".institutional-repository">Institutional Repository
            </label>
          </div>
        </div>
      </div>
      <br>

      <div class="grid">

        {% for site in sites %}
          <div class="thumbnail {{' '.join(site.types)}}">
            <img src="/static/img/screenshots/{{site.screenshot_filename}}" alt="{{site.name}}"/>
            <div class="caption">
              <h3><a class="name" href="{{site.url}}" target="_blank">{{site.name}}</a></h3>
              <p>{{site.description}}</p>
              {% for site_type in site.types %}
                <span class="label label-primary">{{site_types[site_type]}}</span>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

      </div>

    </div>

  </section>

  <script>
    $(document).ready(function () {
      var $grid = $('.grid').isotope({
        itemSelector: '.thumbnail',
        getSortData: {
          name: '.name'
        }
      });

      var $checkboxes = $('.btn-group input');

      $checkboxes.change(function() {
        var inclusives = [];
        $checkboxes.each(function(i, elem) {
          if (elem.checked) {
            inclusives.push(elem.value);
          }
        });

        var filterValue = inclusives.length ? inclusives.join(', ') : '*';
        $grid.isotope({filter: filterValue});
      });

    });
  </script>

{% endblock %}
