<section class="documentation">
	<div class="container">
		<div class="row">
			<a href="{{url_for('invenio_web.show', page = 'getting-started')}}">
				<div class="col-md-6 linkme a">
					<h5>Getting started<span class="fa fa-long-arrow-right"></span></h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos beatae neque ratione doloremque ex quasi, dolorum distinctio. Sed, molestiae labo.</p>
				</div>
			</a>
			<a href="{{url_for('invenio_web.show', page = 'documentation')}}">
				<div class="col-md-6 linkme b">
					<h5>Documentation<span class="fa fa-long-arrow-right"></span></h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit facere culpa hic sint doloribus. Sint consequuntur ullam, iure nulla vel, odit!</p>
				</div>
			</a>
		</div>
	</div>
</section>
<footer>
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<nav class="col-md-12">
					<ul>
						<li class="title">DOCS</li>
						<li>Documentation</li>
						<li>Getting Started</li>
						<li>Modules</li>
						<li>Download</li>
					</ul>
					<ul>
						<li class="title">ABOUT</li>
						<li>Contact</li>
						<li>Support</li>
						<li>Forum</li>
						<li>Contribute</li>
					</ul>
					<ul>
						<li class="title">RESOURCES</li>
						<li>News</li>
						<li>Team</li>
						<li>Showcase</li>
					</ul>
		
					<ul>
						<li class="title">CONNECT</li>
						<li>GitHub</li>
						<li>Twitter</li>
						<li>Newsletter</li>
						<li>TIND</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="pull-right">Invenio Software © 2014</span>
				</div>
			</div>
		</div>
	</div>
</footer>