<div class="row">
  <div class="col-md-6">
    <a href="{{url_for('invenio_web.home')}}"><img class="icon-contact" src="/static/img/logo-invenio-white.png"/></a>
  </div>
  <div class="col-md-6">
    <h3 class="contact-title">Keep in touch!</h3>
    <table class="contact-list">
      <tbody>
        <tr><td class="contact-list-header">Twitter</td><td><a href="https://twitter.com/inveniosoftware"><span class="fa fa-twitter"></span><span id="followers_count">100</span> followers</a> / <a href="https://twitter.com/inveniosoftware">@inveniosoftware</a></td></tr>
        <tr><td class="contact-list-header">GitHub</td><td><a href="https://github.com/inveniosoftware"><span class="fa fa-code-fork"></span><span id="forks_count">164</span> forks</a></td></tr>
        <tr><td class="contact-list-header">Gitter</td><td><a href="https://gitter.im/inveniosoftware"><img src="/static/img/gitter.svg"></a></td></tr>
        <tr><td class="contact-list-header">Documentation</td><td><a href="https://invenio.readthedocs.io/en/latest/">Read the Docs</a></td></tr>
        <tr><td class="contact-list-header">Weekly Video Meeting</td><td><a href="https://indico.cern.ch/category/6046/">Developer Forum</a></td></tr>
        <tr><td class="contact-list-header">Yearly User Groups</td><td><a href="https://indico.cern.ch/category/6240/">All IUGW</a></td></tr>
      </tbody>
    </table>
  </div>
</div>
