<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <nav class="col-md-12">
          <ul>
            <li class="title">DOCS</li>
            <li><a href="https://invenio.readthedocs.io/en/latest/" target="_blank">Documentation</a></li>
            <li><a href="{{url_for('invenio_web.show', page='gettingstarted')}}">Getting Started</a></li>
            <li><a href="https://invenio.readthedocs.io/en/latest/modules/index.html" target="_blank">Modules</a></li>
            <li><a href="https://github.com/inveniosoftware/invenio/releases" target="_blank">Download</a></li>
          </ul>
          <ul>
            <li class="title">ABOUT</li>
            <li><a href="{{url_for('invenio_web.show', page='about')}}" target="_blank">About us</a></li>
            <li><a href="{{url_for('invenio_web.show', page='contact')}}" target="_blank">Contact</a></li>
            <li><a href="https://invenio.readthedocs.io/en/latest/community/forum.html" target="_blank">Forum</a></li>
            <li><a href="https://invenio.readthedocs.io/en/latest/processes/developing.html" target="_blank">Contribute</a></li>
          </ul>
          <ul>
            <li class="title">RESOURCES</li>
            <li><a href="https://github.com/inveniosoftware/invenio/releases" target="_blank">Releases</a></li>
            <li><a href="https://github.com/inveniosoftware/invenio/graphs/contributors" target="_blank">Team</a></li>
            <li><a href="https://invenio.readthedocs.io/en/latest/introduction/demo.html" target="_blank">Showcase</a></li>
          </ul>

          <ul>
            <li class="title">CONNECT</li>
            <li><a href="https://github.com/inveniosoftware" target="_blank">GitHub</a></li>
            <li><a href="https://twitter.com/inveniosoftware" target="_blank">Twitter</a></li>
            <li><a href="" target="_blank">Newsletter</a></li>
            <li><a href="https://tind.io" target="_blank">TIND</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="pull-right">Invenio Software © 2016. All rights reserved.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
