{% extends 'page.html' %}

{% block body %}
  <script>
    $.getJSON( "https://api.github.com/repos/inveniosoftware/invenio", function( data ) {
      $("#forks_count").text(data.forks_count);
    });
    $.getJSON( "http://query.yahooapis.com/v1/public/yql?q=SELECT%20*%20from%20html%20where%20url=%22http://twitter.com/inveniosoftware%22%20AND%20xpath=%22//li[contains(@class,%27ProfileNav-item--followers%27)]/a/span[@class=%27ProfileNav-value%27]|//li[contains(@class,%27ProfileNav-item--following%27)]/a/span[@class=%27ProfileNav-value%27]%22&format=json", function( data ) {
      $("#followers_count").text(data.query.results.span.content);
    });
  </script>
  <section class="intro-section">
    <div class="cover-image">
      {% include 'header.html' %}
      <div class="vertical-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="headline col-md-10 col-md-offset-1">
                  <div class="welcome">
                    <h3>Invenio Digital Library Framework</h3>
                    <h6>Build your own fully customised digital library, institutional repository, multimedia archive, or research data repository on the web.</h6>
                  </div>
                  <div class="actions">
                    <form action="{{url_for('invenio_web.show', page = 'showcase')}}">
                      <button class="btn white">See showcase</button>
                    </form>
                    <form action="{{url_for('invenio_web.show', page='gettingstarted')}}">
                      <button class="btn">Get Started</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="flavour-section section-content-white-bg">
    <div class="container">
      <span class="section-title-white-bg">Invenio is a flexible framework!</span>
      <div class="row">
        <div class="col-md-5">
          <img class="flavour" src="/static/img/icon-library.svg"/>
          <h6>Integrated Library System</h6>
          <p>
            Manage MARC21 authority and bibliographic records. Curate records
            and run automated quality checks. Use circulation module with
            customisable borrower, item acquisition and interlibrary loan
            workflows.
          </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <img class="flavour" src="/static/img/icon-biotech.svg"/>
          <h6>Research Data</h6>
          <p>
            Capture and preserve research output. Harvest datasets, analysis
            code, virtual machine environment, configuration and knowledge
            information. Visualise data in the browser. Rerun preserved code on
            the cloud.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <img class="flavour" src="/static/img/icon-film-reel.svg"/>
          <h6>Multimedia Archive</h6>
          <p>
            Manage audio, photo and video material. Create thumbnails and
            derived formats. Customise portfolio search outputs. Create albums
            and playlists. Configure related material discovery. Tag multimedia
            content.
          </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <img class="flavour" src="/static/img/icon-filing-cabinet.svg"/>
          <h6>Institutional Repository</h6>
          <p>
            Publish articles, reports or theses of your institute. Organise
            content in collections. Configure ingestion workflows and approvals.
            Mint material with permanent identifiers. Disseminate material via
            OAI-PMH.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="goto-button">
          <a href="{{url_for('invenio_web.show', page = 'showcase')}}">See showcase gallery</a></div>
      </div>
    </div>
  </section>
  <section class="carousel-section section-content-dark-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="invenio-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#invenio-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#invenio-carousel" data-slide-to="1"></li>
              <li data-target="#invenio-carousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-8 col-xs-9 block-center">
                            <div class="carousel-item-img">
                                <img src="/static/img/logo-cern-white.svg">
                            </div>
                            <div class="carousel-item-text">
                                <p>Invenio has been originally developed at <a href="https://home.cern">CERN</a>
                                   to run the <a href="https://cds.cern.ch">CERN document server</a>,
                                   managing over 1,000,000 bibliographic records
                                   in high-energy physics since 2002, covering
                                   articles, books, journals, photos, videos,
                                   and more.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-8 col-xs-9 block-center">
                            <div class="carousel-item-img">
                                <img src="/static/img/icon-collaboration.svg">
                            </div>
                            <div class="carousel-item-text">
                                <p>Invenio is nowadays co-developed by an
                                   international collaboration comprising
                                   institutes such as AUTH, CfA, CERN, DESY,
                                   EPFL, FNAL, FZJ, GSI, RERO, SLAC, UAB and is
                                   being used by many scientific institutes and
                                   library networks worldwide.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                  <div class="row">
                      <div class="col-sm-8 col-xs-9 block-center">
                          <div class="carousel-item-img">
                              <img src="/static/img/icon-open-source.svg">
                          </div>
                          <div class="carousel-item-text">
                              <p>Invenio is a free software suite that consists
                                 of more than a hundred independent packages
                                 that collaborate via strong REST API. The
                                 flexibility and performance of Invenio make it
                                 a comprehensive solution for document
                                 repositories of moderate to large sizes.</p>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#invenio-carousel" role="button" data-slide="prev">
                <span class="fa fa-angle-left fa-2x"></span>
            </a>
            <a class="right carousel-control" href="#invenio-carousel" role="button" data-slide="next">
                <span class="fa fa-angle-right fa-2x"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="features-section section-content-white-bg">
    <div class="container">
      <span class="section-title-white-bg">Main features</span>
      <div class="row features-section-row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="/static/img/icon-data-model.svg"/>
            </div>
            <div class="col-md-9">
              <h6>Flexible data model</h6>
              <p>Use JSON Schema to describe articles, books, photos, videos,
              data, and software. Several popular master metadata formats are
              supported, such as MARC21 with BibTeX, DataCite, Dublin Core,
              EndNote, RefWorks.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="/static/img/icon-search.svg"/>
            </div>
            <div class="col-md-9">
              <h6>Powerful search engine</h6>
              <p>Very fast response for repositories of up to several million
              records. Customisable query language and second-order search
              operators. Configurable UI and facets. Combined metadata, fulltext
              and reference search in one go. Citation networks.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row features-section-row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="/static/img/icon-workflow.svg"/>
            </div>
            <div class="col-md-9">
              <h6>Configurable workflows</h6>
              <p>Organise document corpus in community collections. Configure
              user and robot ingestion workflows. Attribute community
              moderators.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="/static/img/icon-community.svg"/>
            </div>
            <div class="col-md-9">
              <h6>Collaborative communities</h6>
              <p>Organise users in groups and teams. Share documents of interest
                 in annotable baskets. Configure automated email and RSS
                 notification alerts.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row features-section-row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="/static/img/icon-extensible.svg"/>
            </div>
            <div class="col-md-9">
              <h6>Extensible packages</h6>
              <p>Invenio is composed of hundreds of independent pluggable
              packages that collaborate via rich APIs. Pick the packages you
              need and use the full power of Python to extend their
              capabilities.</p>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="/static/img/icon-open-source-blue.svg"/>
            </div>
            <div class="col-md-9">
              <h6>Open standards</h6>
              <p>We love open access, open source, and open standards. DOI, JSON
              Schema, Memento, OAI-PMH, ORCID, OpenAIRE, REST, XML... you name
              it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "footer.html" %}
{% endblock %}
