{% extends 'page.html' %}

{% block body %}
	<style>

	</style>
	<section class="intro">
		{% include 'header.html' %}
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div id="main-left" class="col-md-6">
							<div class="welcome">
								<h3>Say something here</h3>
								<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero harum minus repellat laborum cum aut placeat illum.</h6>
							</div>
							<div class="actions">
								<form action="{{url_for('invenio_web.show', page='downloads')}}">
									<button class="btn white">Download</button>
								</form>
								<form action="{{url_for('invenio_web.show', page='documentation')}}">
									<button class="btn">Docs & Help</button>
								</form>
							</div>
						</div>
						<div class="col-md-6">
							<img class="img-screenshot" src="{{url_for('static', filename='img/cds-demo-image.svg')}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-bar">
			<div class="container">
				<div class="row">
					<div>
						<ul class="col-md-6">
							<li class="fa"></li>
							<li class="fa"><a href="http://github.com/inveniosoftware/invenio"><span class="fa fa-code-fork"></span>108 forks</a></li>
							<li class="fa"><a href="https://twitter.com/inveniosoftware"><span class="fa fa-twitter"></span>100 followers</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<form id="newsletter-submit" class="form-group pull-right" action="">
							<div class="form-newsletter-inner">
								<input class="form-control" type="email" placeholder="Enter your email for the latest Invenio news">
								<input class="" type="submit" value="Subscribe">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="desc">
		<div class="container">
			<div class="row">
				<div id="top-desc" class="col-md-10 col-md-offset-1">
					<h6>Run your own digital library or document repository on the web</h6>
					<p>
						Invenio is a <a href="">​free software</a> suite enabling you to run your own <a href="">​digital library</a> or document repository on the web. The technology offered by the software covers all aspects of digital library management from document ingestion through classification, indexing, and curation to dissemination. Invenio complies with standards such as the <a href="">​Open Archives Initiative</a> metadata harvesting protocol (OAI-PMH) and uses ​MARC 21 as its underlying bibliographic format. The flexibility and performance of Invenio make it a comprehensive solution for management of document repositories of moderate to large sizes (several millions of records).
					</p>
					<p>
						Invenio has been originally developed at <a href="">​CERN</a> to run the <a href="">​CERN document server</a>, managing over 1,000,000 bibliographic records in high-energy physics since 2002, covering articles, books, journals, photos, videos, and more. Invenio is being co-developed by an international collaboration comprising institutes such as <a href="">​CERN</a>, <a href="">​DESY</a>, <a href="">​EPFL</a>, <a href="">​FNAL</a>, <a href="">​SLAC</a> and is being used by about thirty scientific institutions worldwide (see <a href="">demo</a>).
					</p>
				</div>
			</div>
			<div>
				<div id="features" class="col-md-10 col-md-offset-1">
					<div class="row feature-row">
						<div class="feature-img col-md-6"></div>
						<div class="feature-text col-md-6">
							<h6>Navigable collection tree</h6>
							<ul>
								<li>Documents organised in collections</li>
								<li>Regular and virtual collection trees</li>
								<li>Customizable portalboxes for each collection</li>
								<li>At CERN, over 1,000,000 documents in 700 collections</li>
							</ul>
						</div>
					</div>
					<div class="row feature-row">
						<div class="feature-text col-md-6">
							<h6>Powerful search engine</h6>
							<ul>
								<li>Specially designed indexes to provide fast search speed for repositories of up to 2,000,000 records</li>
								<li>Customizable simple and advanced search interfaces</li>
								<li>Combined metadata, fulltext and citation search in one go</li>
								<li>Results clustering by collection</li>
							</ul>
						</div>
						<div class="feature-img col-md-6"></div>
					</div>
					<div class="row feature-row">
						<div class="feature-img col-md-6"></div>
						<div class="feature-text col-md-6">
							<h6>Flexible metadata</h6>
							<ul>
								<li>Standard metadata format (MARC)</li>
								<li>Handling articles, books, theses, photos, videos, museum objects and more</li>
								<li>Customizable display and linking rules</li>
							</ul>
						</div>
					</div>
					<div class="row feature-row">
						<div class="feature-text col-md-6">
							<h6>User personalization</h6>
							<ul>
								<li>user-defined document baskets</li>
								<li>user-defined automated email notification alerts</li>
								<li>basket-sharing within user groups</li>
								<li>Amazon-like user comments for documents in repository and shared baskets</li>
							</ul>
						</div>
						<div class="feature-img col-md-6"></div>
					</div>
					<div class="row feature-row">
						<div id="filetypes" class="feature-text col-md-8 col-md-offset-2" style="text-align:center;">
							<h6>with multiple output formats..</h6>
							<ul >
								<li><span class="fa fa-file"></span><div class="thumb-text">HTML</div></li>
								<li><span class="fa fa-file"></span><div class="thumb-text">XML</div></li>
								<li><span class="fa fa-file"></span><div class="thumb-text">MARC</div></li>
								<li><span class="fa fa-file"></span><div class="thumb-text">OAI</div></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "footer.html" %}
{% endblock %}