<!doctype html>
  <title>{% block title %}{% endblock %} | {{ config.CFG_SITE_NAME }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{ config.JQUERY }}"></script>
  <script src="{{ url_for('static', filename='components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='components/isotope/dist/isotope.pkgd.min.js') }}"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <link rel="icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="{{ url_for('static', filename='components/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='components/font-awesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='components/open-sans-fontface/open-sans.css') }}">
  <link href="//fonts.googleapis.com/css?family=Source+Code Pro:200,300,400,500,600,700,900" rel="stylesheet" type="text/css">
  {% block javascript %}{% endblock %}
<body>
  {% block body %}{% endblock %}
</body>
