{% extends "page-framework.html" %}

{% set header_section_classes = "product-header-section product-framework-header-section" %}


{% block header_section_title %}
  <h3><img class="product-header-logo" src="{{ '/static/img/logo-invenio-framework.svg'|asseturl }}" title="Invenio Framework" /></h3>
  <h6>Open Source framework for large-scale digital repositories</h6>
{% endblock %}

{% block header_section_extra %}
<div class="row welcome-features-row">
  <div class="welcome-features-col col-md-3">
    <h2><i class="fa fa-shield"></i> Safe</h2>
    <p>
      Invenio has been created with security and long-term preservation in mind. Build your digital repository and focus only on what is important to you, Invenio will do the rest.
    </p>
  </div>
  <div class="welcome-features-col col-md-3">
    <h2><i class="fa fa-line-chart"></i> Scalable</h2>
    <p>
      Invenio is fast. We have designed it to manage 100+ million records and petabytes of files. All your research data can now be archived independently of the size.
    </p>
  </div>
  <div class="welcome-features-col col-md-3">
    <h2><i class="fa fa-plug"></i> RESTful</h2>
    <p>
      Only a modern framework can create modern digital repositories. Invenio was born for the web, is JSON-native and provides RESTful APIs out of the box that will allow to build apps on top of it.
    </p>
  </div>
  <div class="welcome-features-col col-md-3">
    <h2><i class="fa fa-github"></i> Open</h2>
    <p>Invenio is 100% open source licensed under MIT license. Fork us on <a href="https://github.com/inveniosoftware">GitHub</a> and build your product. Invenio loves open standards for open science.</p>
  </div>
</div>
<div class="row centered">
  <div class="born-at-cern col">
    <p>Born with <i class="fa fa-heart fa-heart-cern"></i> at <a href="https://home.cern"><img src="{{ '/static/img/logo-cern-white.svg'|asseturl }}" title="CERN" /></a></p>
  </div>
</div>
{% endblock %}

{% block page_body %}
<section class="instances-section section-content-light-bg">
  <div class="container">
    <span class="section-title">What can you build with Invenio Framework?</span>
    <div class="row">
      <div class="col-md-4">
        <a href="https://zenodo.org"><img class="instances" src="{{ '/static/img/inbrowser-screenshot-zenodo.png'|asseturl }}"/></a>
        <h6>Digital Repositories</h6>
        <p>
          Invenio Framework is currently being used by many generic and institutional repositories. For instance: <a href="http://zenodo.org">Zenodo</a> and <a href="https://videos.cern.ch">CDS Videos</a> have been built using Invenio Framework v3.
        </p>
      </div>
      <div class="col-md-4">
        <a href="http://github.com/inveniosoftware-contrib/citadel-search"><img class="instances" src="{{ '/static/img/inbrowser-screenshot-cern-search.png'|asseturl }}"/></a>
        <h6>Enterprise Search Engine</h6>
        <p>
          You can use Invenio Framework to create your own Enterprise Search Engine. The CERN Search Team has chosen Invenio Framework in order to build a <a href="http://github.com/inveniosoftware-contrib/citadel-search">Generic Search Engine</a> that they have published as FOSS.
        </p>
      </div>
      <div class="col-md-4">
        <a href="https://ils.test.rero.ch/"><img class="instances" src="{{ '/static/img/inbrowser-screenshot-rero-ils.png'|asseturl }}"/></a>
        <h6>Integrated Library System</h6>
        <p>
          Invenio provides specialised modules for circulation and acquisitions which are being used by e.g. <a href="https://ils.test.rero.ch">RERO ILS</a>.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="features-section section-content-white-bg">
  <div class="container">
    <span class="section-title">Features</span>
    <div class="row features-section-row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icon-data-model.svg'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>Flexible data model</h6>
            <p>Use JSON Schema to describe your articles, books, theses,
            photos, videos, research data and software. Write serialisers to
            produce BibTeX, CSL, DataCite, Dublin Core, JSON-LD, or MARCXML.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icon-search.svg'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>Powerful search engine</h6>
            <p>Fast search times for repositories of several million records.
               Configurable query language and search facets. Citation
               networks.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row features-section-row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icons8-document-96.png'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>Advanced file management</h6>
            <p>Manage millions of files attached to records. Organise files in
            buckets. Configure any storage system/protocol.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
          <div class="row">
              <div class="col-md-3 centered">
                  <img src="{{ '/static/img/icons8-filing-cabinet-96.png'|asseturl }}"/>
              </div>
              <div class="col-md-9">
                  <h6>Preservation friendly</h6>
                  <p>Mint persistent identifiers (DOI) for repository assets.
                     Create links between versions. Run fixity checks. Export
                     BagIt archival packages.</p>
              </div>
          </div>
      </div>
    </div>
    <div class="row features-section-row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icon-community.svg'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>User communities</h6>
            <p>Organise your documents in community collections. Set up
            advanced user authentication (OAuth, SSO). Define fine-grained
            access rights. Collect usage statistics.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icon-extensible.svg'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>REST API</h6>
            <p>Use more than one hundred independent packages
               collaborating via rich REST APIs. Pick the packages you
               want and use the full power of Python to combine and
               extend them.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="open-source-section section-content-light-bg">
  <div class="container">
    <span class="section-title">The Best of Open Source</span>
    <h6 class="section-subtitle">Invenio's core is relying on some of the world's top open source products</h6>
    <div class="row">
      <div class="col-md-4">
        <img class="flavour" src="{{ '/static/img/logo-elasticsearch.svg'|asseturl }}"/>
        <h6>Elasticsearch</h6>
        <p>
            <a href="https://www.elastic.co/products/elasticsearch">Elasticsearch</a> is an extremely fast JSON-native distributed search engine supporting anything from full-text to geospatial queries.
        </p>
      </div>
      <div class="col-md-4">
        <img class="flavour" src="{{ '/static/img/logo-postgresql.svg'|asseturl }}"/>
        <img class="flavour" src="{{ '/static/img/logo-mysql.svg'|asseturl }}"/>
        <h6>PostgreSQL or MySQL</h6>
        <p>
            <a href="https://www.postgresql.org">PostgreSQL</a> and <a href="https://www.mysql.com">MySQL</a> are powerful relational databases with JSON-support as well as a strong reputation for reliability, robustness, and performance.
        </p>
      </div>
      <div class="col-md-4">
        <img class="flavour" src="{{ '/static/img/logo-python.svg'|asseturl }}"/>
        <img class="flavour" src="{{ '/static/img/logo-flask.svg'|asseturl }}"/>
        <h6>Python/Flask</h6>
        <p>
          Invenio is built using <a href="https://www.python.org">Python 3</a>, the <a href="http://flask.pocoo.org/docs/1.0/">Flask</a> micro web framework and a suite of the best community-built Python libraries.
        </p>
        </div>
    </div>
  </div>
</section>
<section class="get-started-section section-content-white-bg">
  <div class="container">
    <span class="section-title">Get started</span>
    <h6 class="section-subtitle">Use Invenio tools to bootstrap your Invenio Project and start building your product!</h6>
    <div class="row">
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">1</div>
        </div>
        <h3 class="section-title">Scaffold</h3>
        <div class="command-line">
              <div class="line comment"># prerequisites: <a href="https://cookiecutter.readthedocs.io/en/latest/installation.html">cookiecutter</a> and <a href="https://pipenv.readthedocs.io/en/latest/#install-pipenv-today">pipenv</a></div>
              <div class="line comment"># scaffold my-site instance</div>
              <div class="line"><span class="prompt">$</span>cookiecutter \</div>
              <div class="line"><div class="tab">gh:inveniosoftware/cookiecutter-invenio-instance -c v3.4</div></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="flex-center-vertically">
            <div class="numbering">2</div>
        </div>
        <h3 class="section-title">Install</h3>
        <div class="command-line">
              <div class="line"><span class="prompt">$</span>cd my-site</div>
              <div class="line comment"># start services (db, es, mq, cache)</div>
              <div class="line"><span class="prompt">$</span>docker-compose up -d</div>
              <div class="line comment"># build and install my-site instance</div>
              <div class="line"><span class="prompt">$</span>./scripts/bootstrap</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">3</div>
        </div>
        <h3 class="section-title">Run</h3>
        <div class="command-line">
              <div class="line comment"># setup database and indexes</div>
              <div class="line"><span class="prompt">$</span>./scripts/setup</div>
              <div class="line comment"># start webserver and task queue</div>
              <div class="line"><span class="prompt">$</span>./scripts/server</div>
              <div class="line comment"># your site is running!</div>
              <div class="line"><span class="prompt">$</span>firefox https://127.0.0.1:5000/</div>
        </div>
      </div>
    </div>
    <div class="row inline-row">
      <div class="inline-row-pane">
        <div class="goto-button">
          <a href="http://invenio.readthedocs.io"><i class="fa fa-file-text-o"></i> Docs</a>
        </div>
        <div class="goto-button">
          <a href="https://github.com/inveniosoftware"><i class="fa fa-github"></i> Code</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
