{% extends "page-ils.html" %}

{% set header_section_classes = "product-header-section product-ils-header-section" %}


{% block header_section_title %}
  <h3><img class="product-header-logo" src="{{ '/static/img/logo-invenio-ils.svg'|asseturl }}" title="InvenioILS" /></h3>
  <h6>Modern Integrated Library System</h6>
  <p><i class="fa fa-rocket"></i> Coming soon - late 2020</p>
{% endblock %}

{% block header_section_extra %}
  <div class="row welcome-features-row">
    <div class="welcome-features-col col-md-2"></div>
    <div class="welcome-features-col col-md-2">
      <h2><i class="fa fa-comment"></i><a href="http://invenio-talk.web.cern.ch/c/projects/invenio-ils"> Talk</a></h2>
      <p>
        Join our project forum and collaborate.
      </p>
    </div>
    <div class="welcome-features-col col-md-2">
      <h2><i class="fa fa-keyboard-o"></i><a href="https://gitter.im/inveniosoftware/invenio"> Chat</a></h2>
      <p>
        Find all the partners in our official chatroom.
      </p>
    </div>
    <div class="welcome-features-col col-md-2">
      <h2><i class="fa fa-github"></i><a href="https://github.com/inveniosoftware/invenio-app-ils"> Code</a></h2>
      <p>
        Have a look at InvenioILS code evolution.
      </p>
    </div>
    <div class="welcome-features-col col-md-2">
      <h2><i class="fa fa-list-alt"></i><a href="#features"> Features</a></h2>
      <p>
        Have a quick look at the mean goals for the future InvenioILS.
      </p>
    </div>
    <div class="welcome-features-col col-md-2"></div>
  </div>
{% endblock %}

{% block page_body %}
<section class="brought-to-you-section section-content-white-bg">
  <div class="container">
    <span class="section-title">Brought to you by</span>
    <div class="row centered">
      <div class="col">
        <a href="http://home.cern"><img src="{{ '/static/img/logo-cern.png'|asseturl }}" title="CERN"></a>
        <a href="https://www.rero.ch"><img src="{{ '/static/img/logo-rero.svg'|asseturl }}" title="rero"></a>
      </div>
    </div>
  </div>
</section>
<section id="features" class="features-section section-content-light-bg">
  <div class="container">
    <span class="section-title">Features</span>
    <div class="row features-section-row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icons8-book-shelf-80.png'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>Cataloguing</h6>
            <p>InvenioILS provides a data model based on JSON Schema with structured bibliographic records such as Documents, Series, Items, Electronic Items and more.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icons8-return-book-80.png'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>Circulation</h6>
            <p>The circulation workflow is configurable and extensible. Manage patrons requests and loans with simple clicks. Use the available dashboards to quickly have an overview of the tasks to perform.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row features-section-row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icons8-new-80.png'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>Acquisition and ILL</h6>
            <p>Simple acquisition and interlibrary loans modules to keep track of newly obtained items.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
          <div class="row">
              <div class="col-md-3 centered">
                  <img src="{{ '/static/img/icons8-toolbox-80.png'|asseturl }}"/>
              </div>
              <div class="col-md-9">
                  <h6>Powerful backoffice</h6>
                  <p>Easy to use backoffice tools including lists, search tools and details of each bibliographic record; as well as a simple management of the circulation workflow.</p>
              </div>
          </div>
      </div>
    </div>
    <div class="row features-section-row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icons8-web-design-80.png'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>Modern UI</h6>
            <p>A beautiful UI built with users in mind to make it easy to find content and loan books.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
          <div class="row">
              <div class="col-md-3 centered">
                  <img src="{{ '/static/img/icons8-rest-api-80.png'|asseturl }}"/>
              </div>
              <div class="col-md-9">
                  <h6>REST API</h6>
                  <p>Use REST APIs to retrieve or ingest content and easily integrate with other systems.</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="open-source-section section-content-white-bg">
  <div class="container">
    <span class="section-title">The Best of Open Source</span>
    <h6 class="section-subtitle">InvenioILS relies on Invenio Framework's core which uses some of the world's top open source products</h6>
    <div class="row">
      <div class="col-md-6">
        <img class="flavour" src="{{ '/static/img/logo-elasticsearch.svg'|asseturl }}"/>
        <h6>Elasticsearch</h6>
        <p>
            <a href="https://www.elastic.co/products/elasticsearch">Elasticsearch</a> is an extremely fast JSON-native distributed search engine supporting anything from full-text to geospatial queries.
        </p>
      </div>
      <div class="col-md-6">
        <img class="flavour" src="{{ '/static/img/logo-postgresql.svg'|asseturl }}"/>
        <img class="flavour" src="{{ '/static/img/logo-mysql.svg'|asseturl }}"/>
        <h6>PostgreSQL or MySQL</h6>
        <p>
            <a href="https://www.postgresql.org">PostgreSQL</a> and <a href="https://www.mysql.com">MySQL</a> are powerful relational databases with JSON-support as well as a strong reputation for reliability, robustness, and performance.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="flavour" src="{{ '/static/img/logo-python.svg'|asseturl }}"/>
        <img class="flavour" src="{{ '/static/img/logo-flask.svg'|asseturl }}"/>
        <h6>Python/Flask</h6>
        <p>
          Invenio is built using <a href="https://www.python.org">Python 3</a>, the <a href="http://flask.pocoo.org/docs/1.0/">Flask</a> micro web framework and a suite of the best community-built Python libraries.
        </p>
      </div>
      <div class="col-md-6">
        <img class="flavour" src="{{ '/static/img/logo-react.png'|asseturl }}"/>
        <h6>React</h6>
        <p>
          InvenioILS UIs are built using <a href="https://reactjs.org">React</a>, the well-known JavaScript library.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
