{% extends "page.html" %}
{% set active_page = "products" %}

{% block header_section %}
<section class="header-section product-header-section product-ils-header-section">
  <div class="cover-image">
    {% with active_page=active_page %}
      {% include 'header.html' %}
    {% endwith %}
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header-section-title">
            <h3><img class="product-header-logo" src="{{ '/static/img/logo-invenio-ils.svg'|asseturl }}" title="Invenio ILS" /></h3>
            <h6>The turn-key open source research data management platform</h6>
          </div>
        </div>
      </div>
{% endblock %}

{% block page_body %}
    <div class="row welcome-features-row">
      <div class="welcome-features-col col-md-2">
        <h2><i class="fa fa-graduation-cap"></i><a href=""> Roadmap</a></h2>
        <p>
          The project is on going and will intend to have it ready by mid-2020.
        </p>
      </div>
      <div class="welcome-features-col col-md-2">
        <h2><i class="fa fa-comment"></i><a href="http://invenio-talk.web.cern.ch/"> Talk</a></h2>
        <p>
          Join our project forum and collaborate.
        </p>
      </div>
      <div class="welcome-features-col col-md-2">
        <h2><i class="fa fa-keyboard-o"></i><a href="https://gitter.im/inveniosoftware/invenio"> Chat</a></h2>
        <p>
          Find all the partners in our official chatroom.
        </p>
      </div>
      <div class="welcome-features-col col-md-2">
        <h2><i class="fa fa-github"></i><a href="https://github.com/inveniosoftware/invenio-app-ils"> Code</a></h2>
        <p>
          Have a look at Invenio ILS code evolution.
        </p>
      </div>
      <div class="welcome-features-col col-md-2">
        <h2><i class="fa fa-video-camera"></i><a href="{{ '/events/'|url }}"> Events</a></h2>
        <p>
          We run bootcamps, workshops, team meetings. Join in person or remotely.
        </p>
      </div>
      <div class="welcome-features-col col-md-2">
        <h2><i class="fa fa-list-alt"></i><a href="#features"> Features</a></h2>
        <p>
          Have a quick look at the mean goals for the future Invenio ILS.
        </p>
      </div>
    </div>
  </div></div>
</section>
<section class="brought-to-you-section section-content-white-bg">
  <div class="container">
    <span class="section-title">Brought to you by</span>
    <div class="row centered">
      <div class="col">
        <a href="http://home.cern"><img src="{{ '/static/img/logo-cern.png'|asseturl }}" title="CERN"></a>
        <a href="https://www.rero.ch"><img src="{{ '/static/img/logo-rero-ils.png'|asseturl }}" title="rero"></a>
      </div>
    </div>
  </div>
</section>
<section id="features" class="features-section section-content-light-bg">
  <div class="container">
    <span class="section-title">Features</span>
    <div class="row features-section-row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icon-data-model.svg'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>Flexible data model</h6>
            <p>Use JSON Schema to describe your articles, books, theses,
            photos, videos, research data and software. Write serialisers to
            produce BibTeX, CSL, DataCite, Dublin Core, JSON-LD, or MARCXML.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icon-search.svg'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>Powerful search engine</h6>
            <p>Fast search times for repositories of several million records.
               Confurigurable query language and search facets. Citation
               networks.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row features-section-row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icons8-document-96.png'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>Advanced file management</h6>
            <p>Manage millions of files attached to records. Organise files in
            buckets. Configure any storage system/protocol.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
          <div class="row">
              <div class="col-md-3 centered">
                  <img src="{{ '/static/img/icons8-filing-cabinet-96.png'|asseturl }}"/>
              </div>
              <div class="col-md-9">
                  <h6>Preservation friendly</h6>
                  <p>Mint persistent identifiers (DOI) for repository assets.
                     Create links between versions. Run fixity checks. Export
                     BagIt archival packages.</p>
              </div>
          </div>
      </div>
    </div>
    <div class="row features-section-row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3 centered">
            <img src="{{ '/static/img/icon-community.svg'|asseturl }}"/>
          </div>
          <div class="col-md-9">
            <h6>User communities</h6>
            <p>Organise your documents in community collections. Set up
            advanced user authentication (OAuth, SSO). Define fine-grained
            access rights. Collect usage statistics.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
          <div class="row">
              <div class="col-md-3 centered">
                  <img src="{{ '/static/img/icon-extensible.svg'|asseturl }}"/>
              </div>
              <div class="col-md-9">
                  <h6>REST API</h6>
                  <p>Use more than one hundred independent packages
                     collaborating via rich REST APIs. Pick the packages you
                     want and use the full power of Python to combine and
                     extend them.</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="instances-section section-content-white-bg customisations">
  <div class="container">
    <span class="section-title">Customised to you</span>
    <div class="row">
      <div class="col-md-3">
        <h6>Institutional Repository</h6>
        <p>
          Invenio Framework is currently being used by many generic and institutional repositories. For instance: <a href="http://zenodo.org">Zenodo</a> and <a href="https://videos.cern.ch">CDS Videos</a> have been built using Invenio Framework v3.
        </p>
      </div>
      <div class="col-md-3">
        <h6>Medical</h6>
        <p>
          You can use Invenio Framework to create your own Enterprise Search Engine. The CERN Search Team has chosen Invenio Framework in order to build a <a href="https://github.com/inveniosoftware-contrib/cern-search/">Generic Search Engine</a> that they have published as FOSS.
        </p>
      </div>
      <div class="col-md-3">
        <h6>Catch-all</h6>
        <p>
          Invenio provides specialised modules You can use Invenio Framework to create your own Enterprise Search Engine. The CERN Search Team has chosen Invenio Framework in order to build a <a href="https://github.com/inveniosoftware-contrib/cern-search/">Generic Search Engine</a> that they have published as FOSS.
        </p>
      </div>
      <div class="col-md-3">
        <h6>MARC21</h6>
        <p>
          Invenio provides specialised modules You can use Invenio Framework to create your own Enterprise Search Engine. The CERN Search Team has chosen Invenio Framework in order to build a <a href="https://github.com/inveniosoftware-contrib/cern-search/">Generic Search Engine</a> that they have published as FOSS.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a href="https://zenodo.org"><img class="instances" src="{{ '/static/img/inbrowser-screenshot-zenodo.png'|asseturl }}"/></a>
        <a href="https://zenodo.org">University of Hamburg</a>
      </div>
      <div class="col-md-3">
        <a href="#"><img class="instances" src="{{ '/static/img/inbrowser-screenshot-cern-search.png'|asseturl }}"/></a>
        <a href="https://zenodo.org">Northwestern</a>
      </div>
      <div class="col-md-3">
        <a href="https://ils.test.rero.ch/"><img class="instances" src="{{ '/static/img/inbrowser-screenshot-rero-ils.png'|asseturl }}"/></a>
        <a href="https://zenodo.org">Zenodo</a>
      </div>
      <div class="col-md-3">
        <a href="https://ils.test.rero.ch/"><img class="instances" src="{{ '/static/img/inbrowser-screenshot-rero-ils.png'|asseturl }}"/></a>
        <a href="https://zenodo.org">DESY</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
