html,
body {
  height: 100%;
  width: 100%;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', 'Open Sans', sans-serif;
}
.block-center {
  margin: auto;
  float: none;
}
.centered {
  text-align: center;
}
.section-content-dark-bg,
.section-content-white-bg,
.section-content-light-bg {
  padding-top: calc(3 * 30px);
  padding-bottom: calc(3 * 30px);
}
.section-content-dark-bg {
  background-color: #0377cd;
}
.section-content-dark-bg a {
  text-decoration: none;
  color: #ffffffd6;
  font-weight: 600;
}
.section-content-dark-bg a:hover,
.section-content-dark-bg a:focus {
  color: #ffffff;
}
.section-content-white-bg a,
.section-content-light-bg a,
.hp-blog-section a {
  text-decoration: none;
  color: #0377cdb5;
  font-weight: 600;
}
.section-content-white-bg a:hover,
.section-content-white-bg a:focus,
.section-content-light-bg a:hover,
.section-content-light-bg a:focus,
.hp-blog-section a:hover,
.hp-blog-section a:focus {
  color: #0377cd;
}
.section-content-white-bg,
.section-content-light-bg {
  color: #333;
  width: 100%;
  text-align: justify;
  font-size: 1.2em;
  font-weight: 300;
}
.section-content-white-bg {
  background-color: #fff;
}
.section-content-light-bg {
  background-color: rgba(173, 206, 224, 0.52);
}
.section-content-white-bg h6,
.section-content-light-bg h6 {
  font-weight: 300;
  font-size: 1.4em;
  padding-bottom: 10px;
  color: #0377cd;
}
.section-title {
  -webkit-font-smoothing: antialiased;
  font-family: 'Oswald', 'Open Sans', sans-serif;
  font-size: 2.5em;
  width: 100%;
  text-align: center;
  display: block;
  color: #0377cd;
  margin-bottom: 45px;
  font-weight: 500;
}
.section-subtitle {
  color: #045694 !important;
  text-align: center;
  margin-bottom: 40px;
}
#open-source-section {
  margin-bottom: 0px;
}
.vertical-center {
  height: 600px;
  display: flex;
  align-items: center;
}
.product-link {
  pointer-events: bounding-box;
}
.product-link:hover {
  opacity: 0.8;
}
.header-nav {
  height: 150px;
}
.invenio-navbar {
  border-radius: 0;
  font-size: 16px;
  font-weight: 300;
  border: 0;
}
.invenio-navbar>.container .navbar-brand,
.invenio-navbar>.container-fluid .navbar-brand {
  margin-left: 0;
}
.invenio-navbar-not-top {
  z-index: 99;
  box-shadow: 0 0 30px rgba(20, 78, 109, 0.4);
  background-color: rgba(3, 119, 205, 1);
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .navbar-brand {
    display: none;
  }
}
.navbar-toggle {
  background-color: rgba(61, 121, 156, 0.87);
  margin-left: 20px;
  float: left;
}
.icon-bar {
  background-color: rgba(173, 206, 224, 1);
}
.navbar-brand img {
  width: auto;
  height: 40px;
  margin-top: 10px;
}
.navbar-brand,
.navbar-nav li a:not(.active-menu) {
  line-height: 50px;
  height: 50px;
  padding-top: 0;
  color: rgba(255, 255, 255, 0.58);
  border-top: 3px solid transparent;
}
.navbar-collapse.in,
.collapsing {
  background-color: #29698b;
}
.navbar-fixed-top .navbar-collapse {
  max-height: 370px;
}
.active-menu,
.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
  border-top: 3px solid white;
  color: white;
  ;
}
@media (max-width: 768px) {
  .navbar-brand,
  .navbar-nav li a {
    line-height: normal;
    height: auto;
  }
  .active-menu,
  .nav>li>a:hover,
  .nav>li>a:focus {
    border-top: none;
  }
}
.nav .open>a,
.dropdown-menu,
.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: #0377cd !important;
  color: white !important;
}
.caret {
  margin-left: 4px;
}
.dropdown-menu {
  border: 0;
  box-shadow: -7px 10px 12px rgba(0, 0, 0, .175);
  -webkit-box-shadow: -7px 10px 12px rgba(0, 0, 0, .175);
}

/* Welcome features section */

.welcome-features-col h2 {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  padding-bottom: 10px;
}
.welcome-features-col p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.1em;
  text-align: center;
}
.born-at-cern {
  padding: 50px;
  display: inline-block;
  font-size: 0.8em;
  color: white;
}
.born-at-cern img {
  height: 60px !important;
  padding-left: 5px;
}
.fa-heart-cern {
  color: #fe3336;
}

.intro-section {
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 300;
  font-size: 14px;
}
@media only screen and (max-device-width: 768px) {
  .vertical-center {
    height: auto !important;
  }
  .intro-section .cover-image {
    min-height: auto !important;
    padding-bottom: 50px;
  }
  .intro-section {
    height: auto !important;
  }
}
.intro-section .cover-image {
  min-height: 800px;
}
.cover-image {
  background-color: rgba(3, 119, 205, 1);
  background-image: linear-gradient(38deg, rgba(3, 119, 205, 1), rgba(3, 119, 205, 1) 38.66%, rgba(198, 197, 89, 0.64));
  min-height: 300px;
  height: 100%;
  width: 100%;
}
.header-section .cover-image {
  background-image: linear-gradient(12deg, rgba(3, 119, 205, 1), rgba(3, 119, 205, 1) 52.52%, rgba(198, 197, 89, 0.64));
}
.trusted-by-section .section-title {
  margin-bottom: 60px;
}
.trusted-by-section img {
  max-height: 150px;
  max-width: 250px;
  margin: 20px;
}
.powering-open-science-section {
  text-align: center;
}
.powering-open-science-section .section-title {
  padding-bottom: 50px;
}
.powering-open-science-section h6 {
  color: #0377cd;
}
.powering-open-science-section i,
.powering-open-science-section svg {
  max-height: 100px;
  width: auto;
  fill: #0377cd91 !important;
}
.instances-section {
  text-align: center;
}
.instances-section img {
  max-width: 300px;
  margin: 20px;
}
.instances-section p {
  text-align: justify;
}
.instances-section .row {
  padding: 30px 0px;
}
.instances-section h6 {
  padding-top: 20px;
}
.open-source-section {
  text-align: center;
}
.open-source-section img {
  height: 9em;
  padding-left: 10px;
}
.open-source-section p {
  text-align: justify;
}
.open-source-section .row {
  padding: 30px 0px;
}

#invenio-carousel .item {
  min-height: 450px;
  text-align: center;
}
@media (min-width: 768px) {
  #invenio-carousel .item {
    min-height: 450px;
  }
}
#invenio-carousel .carousel-control {
  background: none;
  text-align: left;
  width: auto;
  text-shadow: none;
  color: #0377cd;
}
#invenio-carousel .carousel-indicators li {
  background-color: #0377cd75;
  width: 50px;
  border: none;
}
#invenio-carousel .carousel-indicators .active {
  width: 50px;
  height: 10px;
  margin: 1px;
  background: #0377cd;
}
.features-section img {
  max-height: 60px;
  max-width: 100%;
}
.features-section-row {
  padding-bottom: 30px;
}
.contact-section {
  text-align: center;
}
.contact-section .row {
  display: flex;
  align-items: center;
}
.contact-title {
  font-size: 3em;
  padding-bottom: 30px;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}
.contact-list {
  text-align: left;
}
.contact-list td {
  padding: 5px 30px 5px 0px;
}
.contact-list-header {
  color: rgba(255, 255, 255, 0.58);
}
.icon-contact {
  height: 6em;
}
@media (max-width: 700px) {
  .icon-contact {
    display: none;
  }
}
.shield img {
  height: 30px;
}
.footer-bottom {
  background-color: rgb(1, 98, 170);
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 300;
  font-size: 14px;
}
.footer-bottom a {
  color: rgba(255, 255, 255, 0.58);
  text-decoration: none;
}
.footer-bottom a:hover,
.footer-bottom a:focus {
  color: white;
}
footer nav ul {
  list-style-type: none;
  float: left;
  width: 25%;
  padding: 0;
}
footer nav li {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 7px;
}
footer nav li.title {
  font-weight: 400;
  margin-bottom: 15px;
}

/* base.html */

.header-section {
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  font-size: 14px;
}
.header-section h3 {
  color: white;
  font-size: 2.4em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.header-section h6 {
  font-size: 1.4em;
  font-weight: 300;
}
.header-section-title {
  text-align: center;
}

/* Product pages */
.product-header-section {
  font-size: 1.5em;
}
.product-header-logo {
  width: 30%;
}
.product-framework-header-section .cover-image {
  background-image: linear-gradient(12deg, rgba(3, 119, 205, 1), rgba(3, 119, 205, 1) 52.52%, rgba(33, 226, 73, 0.69));
}
.product-rdm-header-section .cover-image {
  background-image: linear-gradient(12deg, rgba(3, 119, 205, 1), rgba(3, 119, 205, 1) 52.52%, rgba(251, 130, 115, 0.69));
}
.rdm-customisations img {
  max-width: 250px;
}
.welcome-features-row {
  padding-top: calc(3*30px);
  padding-bottom: calc(3*30px);
  font-size: 0.7em;
}

/* gettingstarted.html */

.install-section {
  text-align: center;
}
.code {
  background-color: #e4eef3;
  border: 1px solid #6ba1bb;
  border-radius: 7px;
  font-family: Source Code Pro;
  font-weight: 400;
  font-size: 14px;
  color: #245e79;
  padding: 10px;
  white-space: pre-line;
  line-height: 30px;
  padding-left: 30px;
  margin: 30px 0;
  text-align: left;
  word-wrap: break-word;
}
.command {
  font-weight: 600;
}
.json {
  color: #777;
}
.goto-button {
  text-align: center;
  padding: 20px;
  white-space: nowrap;
}
.goto-button a {
  text-decoration: none;
  border-radius: 4px;
  line-height: 25px;
  padding: 15px 30px;
  background-color: #0377cd;
  color: rgb(212, 229, 239);
  height: 50px;
  font-size: 1em;
  font-weight: 200;
}
.goto-button a:hover,
.goto-button a:active {
  color: white;
}
.goto-icon-button {
  display: inline-block;
  max-width: 300px;
  margin: 18px;
  display: inline-flex;
}
.goto-icon-button-a:hover i,
.goto-icon-button-a:active i {
  color: white !important;
  background-color: #0377cd;
}
.goto-icon-button i {
  background-color: rgba(13, 95, 137, 0.61);
  border: 1px solid #b6d0e0;
  max-width: 260px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 100%;
  vertical-align: middle;
  padding: 5px 10px;
  font-size: 1.4em;
  color: #d9edf7;
}
.goto-icon-button span {
  border: 1px solid #b6d0e0;
  border-left: 0;
  text-align: center;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 5px 10px;
  height: 100%;
}
.mega {
  vertical-align: bottom;
  padding-left: 10px;
}
i.large-icon,
i.large-icon {
  font-size: 12em !important;
  color: #245e79;
}
.develop-section i {
  color: #245e79;
}

/* community.html */

.findus-section {
  text-align: center;
}
.shield-big {
  text-align: center;
  padding: 2px;
}
.shield-big img {
  height: 30px;
}
.support-section img {
  max-height: 4em;
  margin-bottom: 30px;
}

/* showcase.html */

.hidden {
  display: none;
}
.thumbnail {
  max-width: 360px;
  margin: 10px;
  /* The following 3 lines help speeding up isotope */
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.thumbnail img {
  height: 300px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
@media only screen and (max-device-width: 768px) {
  .thumbnail h3 {
    font-size: 1em;
    color: red;
  }
  .thumbnail .caption p {
    font-size: 0.6em;
  }
}

/* New site documentation */

.numbering {
  font-weight: 200;
  font-size: 4em;
  color: white;
  background-color: #0377cd91;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.flex-center-vertically {
  display: flex;
  justify-content: center;
  text-align: center;
  height: auto;
  margin: 0 0 20px 0;
}
@media only screen and (min-device-width: 993px),
only screen and (min-width: 993px) {
  .flex-center-vertically {
    flex-direction: column;
  }
}
@media only screen and (max-device-width: 992px),
only screen and (max-width: 993px) {
  .flex-center-vertically {
    flex-direction: row;
  }
  .new-site-section {
    text-align: center !important;
  }
}
.new-site-section {
  text-align: left;
}
.pull-request {
  max-width: 100%;
  border: 1px solid #6ba1bb;
  border-radius: 7px;
}

/* Error page */

.error-page {
  height: 100%;
  width: 100%;
  text-align: center;
}
.error-page .row {
  display: flex;
  align-items: center;
}
.error-page-title {
  font-size: 2em;
  padding: 90px;
  -webkit-font-smoothing: antialiased;
}
.error-page-title a {
  text-decoration: underline;
}

/* Blog */

.post-header {
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
}
.blog-post-list .blog-post:not(:last-child) {
  margin-bottom: 40px;
}
.post-header>p {
  color: #333;
}
.post-header {
  margin-bottom: 30px;
}
.post-header>h2>a,
.post-header>h2 {
  color: rgb(61, 104, 125);
  font-weight: 500;
  font-size: 2em;
}
.post-meta {
  color: #777;
  font-size: 0.9em;
}
.post-meta i {
  color: #ccc;
  padding-right: 5px;
}
.post-meta span {
  margin-right: 20px;
}
.post-content {
  margin-bottom: 30px;
}
.blog-post-frame {
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 4px 0px rgba(25, 73, 97, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(25, 73, 97, 0.2);
  padding: 40px;
  background-color: white;
}
article {
  display: block;
  font-size: 1em;
}

article img {
  max-width: 100%;
  cursor: pointer;
}

.fa-clipboard {
  cursor: pointer;
}

.post-content h1,
.post-content h2,
.post-content h3 {
  font-weight: 400;
  line-height: 25px;
  color: rgb(135, 184, 208);
  margin-top: 25px;
}

.post-content h1 {
  font-size: 1.6em;
  margin-top: 35px;
  margin-bottom: 25px;
}
.post-content h2 {
  font-size: 1.4em;
}
.post-content h3 {
  font-size: 1.2em;
}


.pagination {
  text-align: center;
  padding-top: 40px;
  display: inherit;
}

a.team-url:link,
a.team-url:visited {
  color: #eaeaea;
}

a.team-url:hover {
  color: white;
}

.invenio-team {
  background-color: rgba(3, 119, 205, 1);
}

.cod-team {
  background-color: #283747;
}

.blog-list-item {
  position: relative;
  height: 450px;
  margin-bottom: 30px;
}
.blog-list-item-more-link {
  width: 100%;
  padding-right: 40px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
}
.blog-list-item-frame {
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 4px 0px rgba(25, 73, 97, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(25, 73, 97, 0.2);
  padding: 5px 20px 20px 20px;
  background-color: white;
}
.blog-list-item-content {
  height: 250px;
  overflow: hidden;
  /*prevent text from being shown outside the border */
  text-overflow: ellipsis;
  /*cut off text with an ellipsis*/
}
.blog-list-item-content:before {
  content: '';
  width: 90%;
  height: 70%;
  position: absolute;
  left: 5%;
  bottom: 0px;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 100px, white);
}

.blog-list-item-meta {
  color: #777;
  font-size: 0.8em;
}
.blog-list-item-meta i {
  color: #ccc;
  padding-right: 5px;
}
.blog-list-item-meta span {
  margin-right: 5px;
}
.blog-list-item-header {
  border-bottom: 1px solid #ececec;
  padding-bottom: 5px;
}
.blog-list-item-header>p {
  color: #333;
}
.blog-list-item-header {
  margin-bottom: 10px;
}
.blog-top-header>h,
.blog-top-header>h2>a,
.blog-list-item-header>h3>a,
.blog-list-item-header>h3 {
  color: rgb(61, 104, 125);
  font-weight: 500;
  text-align: left;
}
.blog-top-header>h,
.blog-top-header>h2>a {
  font-size: 1.2em;
}
.blog-list-item-header>h3>a,
.blog-list-item-header>h3 {
  font-size: 1.2em;
}
.blog-top {
  height: 450px;
  margin: 0px 15px 30px 15px;
}
.blog-top-frame {
  border-radius: 4px;
  -moz-box-shadow: 0px 1px 4px 0px rgba(25, 73, 97, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(25, 73, 97, 0.2);
  padding: 10px 30px 30px 30px;
  background-color: white;
}
.blog-top-content {
  height: 250px;
  overflow: hidden;
  /*prevent text from being shown outside the border */
  text-overflow: ellipsis;
  /*cut off text with an ellipsis*/
}
.blog-top-content:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 5%;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 0) 250px, white);
}
.blog-top-more-link {
  width: 100%;
  padding-right: 100px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
}
.blog-back-button {
  color: rgb(61, 104, 125);
  font-weight: 500;
  font-size: 1.0em;
  padding-bottom: 10px;
}
#blog-post-content-section {
  padding-top: 30px;
}

/* Blog for homepage */
.fa-share-down {
  transform: rotate(90deg);
}
.hp-blog-section {}
.hp-blog-post-list {
  margin: 0;
}
.hp-blog-list-item-frame {
  border-radius: 4px;
  border: solid 1px #0376cd33;
  padding: 5px 20px 20px 20px;
  background-color: #0377cd1c;
}
.hp-blog-list-item {
  min-height: 200px;
  margin: 0 0 20px 0;
}
.hp-blog-list-item h3 {
  text-align: center;
  vertical-align: middle;
  min-height: 60px;
}
.hp-blog-list-item-meta {
  font-size: 1em;
}
.hp-blog-list-item-meta i {
  padding-right: 5px;
}
.hp-blog-list-item-meta span {
  margin-right: 5px;
}
.hp-blog-list-item-header {
  border-top: 1px solid #ffffff8f;
  padding-top: 20px;
}
.hp-blog-list-item-header,
.hp-blog-list-item-header i {
  margin-bottom: 10px;
  color: #194156;
  text-align: center;
}

/* Roadmap */

.roadmap-section .panel-heading {
  text-align: left;
  font-size: 14px;
  font-weight: 450;
  margin-top: -1px;
  min-height: 28px;
  border-radius: 4px 4px 0 0;
  padding: 4px 8px;
  justify-content: space-between;
  vertical-align: baseline;
}

.roadmap-section .column .section-title {
  margin-bottom: 5px;
}

.roadmap-section .column>p {
  text-align: center;
  padding-bottom: 40px;
}

.roadmap-section .intro {
  padding-bottom: 3%;
  text-align: center;
}

.roadmap-section .feedback h3 {
  margin-top: 3em;
}

.roadmap-section .panel-heading.development {
  background-color: #0090e4 !important;
  color: #fff;
}

.roadmap-section .panel-heading.community {
  background-color: #f4416d !important;
  color: #fff;
}

.roadmap-section .panel-heading.interoperability {
  background-color: rgb(0, 216, 169) !important;
  color: #fff;
}

.roadmap-section .panel-title {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #333;
}

.roadmap-section .card-description {
  font-size: 15px;
  text-align: left;
  width: 100%;
  margin-bottom: 8px;
}

/* command-line */

.command-line {
  font-family: 'Inconsolata', monospace;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  text-align: left;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  border-radius: 5px;
  font-size: 0.8em;
}
@media (max-width: 1200px) {
  .command-line {
    font-size: 0.5em;
  }
}
.prompt {
  color: #c57b4b !important;
  padding-right: 5px;
}
.output {
  padding-left: 15px;
  color: grey;
}
.comment {
  color: #7fa0a0;
  font-style: italic;
}
.tab {
  padding-left: 20px;
}
.tab-2x {
  padding-left: 40px;
}