{% macro render_blog_list_item(post, from_index=false) %}
  <div class="blog-list-item blog-list-item-frame">
    <header class="blog-list-item-header">
      <h3>
        {% if from_index %}
          <a href="{{ post|url }}">{{ post.title }}</a>
        {% else %}
          {{ post.title }}
        {% endif %}
      </h3>
      <p class="blog-list-item-meta">
        <i class='fa fa-user text-muted'></i>
        <span class="author">
          {% if post.twitter_handle %}
            <a href="https://twitter.com/{{ post.twitter_handle
              }}">{{ post.author or post.twitter_handle }}</a>
          {% else %}
            {{ post.author }}
          {% endif %}
        </span>
        <i class='fa fa-calendar text-muted'></i>
        <span>{{ post.pub_date|dateformat }}</span>
        <i class='fa fa-users text-muted'></i>
        <span class="label {{ post.team_colour or 'invenio-team'}}"><a class="team-url" href="{{ post.team_url }}">{{ post.team }}</a></span>
      </p>
    </header>
    <div class="blog-list-item-content">
      {{ post.body }}
    </div>
    <div class="blog-list-item-more-link">
      {% if from_index %}
        <a href="{{ post|url }}">Read More</a>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% macro render_blog_list_item_homepage(post) %}
  <div class="hp-blog-list-item hp-blog-list-item-frame">
    <h3>
      <a href="{{ post|url }}">{{ post.title }}</a>
    </h3>
    <header class="hp-blog-list-item-header">
      <p class="hp-blog-list-item-meta">
        <i class='fa fa-user text-muted'></i>
        <span class="author">
          {% if post.twitter_handle %}
            <a href="https://twitter.com/{{ post.twitter_handle
              }}">{{ post.author or post.twitter_handle }}</a>
          {% else %}
            {{ post.author }}
          {% endif %}
        </span><br/>
        <i class='fa fa-calendar text-muted'></i>
        <span>{{ post.pub_date|dateformat }}</span>
        <i class='fa fa-users text-muted'></i>
        <span class="label {{ post.team_colour or 'invenio-team'}}"><a class="team-url" href="{{ post.team_url }}">{{ post.team }}</a></span>
      </p>
    </header>
  </div>
{% endmacro %}
