{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-back-button">
    <a href="/blog">Back</a>
  </div>
  <div class="blog-post blog-post-frame">
    <header class="post-header">
      <h2>
        {% if from_index %}
          <a href="{{ post|url }}">{{ post.title }}</a>
        {% else %}
          {{ post.title }}
        {% endif %}
      </h2>
      <p class="post-meta">
        <i class='fa fa-user text-muted'></i>
        <span class="author">
          {% if post.twitter_handle %}
            <a href="https://twitter.com/{{ post.twitter_handle
              }}">{{ post.author or post.twitter_handle }}</a>
          {% else %}
            {{ post.author }}
          {% endif %}
        </span>
        <i class='fa fa-calendar text-muted'></i>
        <span>{{ post.pub_date|dateformat }}</span>
        <i class='fa fa-users text-muted'></i>
        <span class="label {{ post.team_colour or 'invenio-team'}}"><a class="team-url" href="{{ post.team_url }}">{{ post.team }}</a></span>
      </p>
    </header>
    <article class="post-content">
      {{ post.body }}
    </article>
    {% if from_index %}
      <a href="{{ post|url }}">Read More</a>
    {% endif %}
  </div>
{% endmacro %}
