html,body{
    height: 100%;
    width: 100%;
    font-family: Open Sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
}
.block-center {
    margin: auto;
    float: none;
}
.centered {
  margin: auto;
  text-align: center;
}
.section-content-dark-bg, .section-content-white-bg, .section-content-light-bg {
    padding-top: calc(3 * 30px);
    padding-bottom: calc(3 * 30px);
}
.section-content-dark-bg {
  background-color: rgba(10, 73, 105, 0.91);
}
.section-content-dark-bg a {
    color: white;
    text-decoration: none;
}
.section-content-dark-bg a:hover,
.section-content-dark-bg a:focus {
    color: rgba(255, 255, 255, 0.58);
}
.section-content-white-bg, .section-content-light-bg {
    color: #333;
    width: 100%;
    text-align: justify;
    font-size: 1.2em;
    font-weight: 300;
}
.section-content-white-bg {
    background-color: #fff;
}
.section-content-light-bg {
    background-color: rgba(173, 206, 224, 0.52);
}
.section-content-white-bg a, .section-content-light-bg a{
    color: #3D9FD2;
    text-decoration: none;
}
.section-content-white-bg a:hover,
.section-content-white-bg a:focus,
.section-content-light-bg a:hover,
.section-content-light-bg a:focus {
    color: #297DA9;
}
.section-content-white-bg h6, .section-content-light-bg h6 {
    font-weight: 300;
    font-size: 1.4em;
    color: rgba(61, 104, 125, 1);
    padding-bottom: 10px;
}
.section-title-dark-bg, .section-title-white-bg, .section-title-light-bg {
    font-size: 1.8em;
    width: 100%;
    text-align: center;
    display: block;
}
.section-title-dark-bg {
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: rgba(173, 206, 224, 0.7);
    border-bottom: 2px solid rgba(61, 104, 125, 1);
}
.section-title-white-bg, .section-title-light-bg {
    margin-bottom: 45px;
    color: rgba(61, 104, 125, 1);
    font-weight: 500;
}
.vertical-center {
  height: 75%;
  display: flex;
  align-items: center;
}
.invenio-navbar {
    border-radius: 0;
    font-size: 16px;
    font-weight: 300;
    border: 0;
}
.invenio-navbar > .container .navbar-brand, .invenio-navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-toggle {
    background-color: rgba(61, 121, 156, 0.87);
}
.icon-bar {
    background-color: rgba(173, 206, 224, 1);
}
.navbar-brand img {
    width: auto;
    height: 40px;
    margin-top: 10px;
}
.navbar-brand,
.navbar-nav li a:not(.active) {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
    color: white;
    border-top: 3px solid transparent;
}
.active,
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
    border-top: 3px solid rgba(255, 255, 255, 0.58);
    color: rgba(255, 255, 255, 0.58);;
}
@media (max-width: 768px) {
  .navbar-brand,
  .navbar-nav li a {
      line-height: normal;
      height: auto;
  }
  .active,
  .nav > li > a:hover,
  .nav > li > a:focus {
      border-top: none;
  }
}
.intro-section {
    min-height: 600px;
    max-height: 800px;
    height: 80%;
    width: 100%;
    position: relative;
    background-image: url("/static/img/library.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    font-size: 14px;
}
.cover-image {
    background-color: rgba(13,95,137,0.8);
    min-height: 300px;
    height: 100%;
    width: 100%;
}
.headline h3{
    font-weight: 300;
    font-size: 3.8em;
    color: white;
}
.headline h6{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.58);
    font-size: 1.8em;
    padding-top: 5%;
}
@media (max-width: 768px) {
  .headline h3{
      font-size: 3em;
  }
  .headline h6{
      font-size: 1.5em;
  }
}
.headline .actions{
    padding-top: 5%;

}
.headline .btn.white{
    background-color: rgba(255, 255, 255, 0.95);
    color: #467f9c;
}
.headline .btn.white:hover {
    color: #3EA1D4;
    background-color: #fff;
}
.headline .btn:hover {
    border-color: #fff;
    color: #fff;
}
.headline .actions form{
    width: 40%;
    margin-right: 4%;
    float: left;
}
.headline .btn{
    width: 100%;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.58);
    border: 2px solid rgba(255, 255, 255, 0.58);
    background-color: transparent;
    height: 50px;
    font-size: 20px;
    font-weight: 200;
}
@media (max-width: 768px) {
  .headline .btn {
    font-size: 15px;
  }
}
.flavour-section {
  text-align: center;
}
.flavour-section img {
  height: 10em;
}
.flavour-section .row {
  padding: 30px 0px;
}
.carousel-section {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
}
.carousel-section a {
    color: rgba(255, 255, 255, 0.58);
    text-decoration: none;
}
.carousel-section a:hover,
.carousel-section a:focus {
    color: rgba(255, 255, 255, 0.28);
}
@media (min-width: 768px) {
    .carousel-section {
        font-size: 18px;
    }
}
#invenio-carousel .item {
    min-height: calc(12 * 30px);
    text-align: center;
}
@media (min-width: 768px) {
    #invenio-carousel .item {
        min-height: calc(10 * 30px);
    }
}
#invenio-carousel .carousel-control {
    background: none;
}
#invenio-carousel .carousel-control span {
    position: absolute;
    top: 50%;
    right: 50%;
}
#invenio-carousel .carousel-indicators {
    bottom: -30px;
    margin-bottom: 0;
}
.carousel-item .carousel-item-text {
    padding-top: 40px;
}
.carousel-item-img {
    text-align: center;
    padding: 20px;
}
.carousel-item-img img {
    max-height: 9em;
    vertical-align: middle;
}
.img-white-bg {
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.features-section img {
    max-height: 60px;
}
.features-section-row  {
    padding-bottom: 30px;
}
.carousel-section {
    min-height: 450px;
}
.contact-section {
  text-align: center;
}
.contact-section .row {
  display: flex;
  align-items: center;
}
.contact-title {
  font-size: 3em;
  padding-bottom: 30px;
  -webkit-font-smoothing: antialiased;
  text-align: left;
}
.contact-list {
  text-align: left;
}
.contact-list td {
  padding: 5px 30px 5px 0px;
}
.contact-list-header {
  color: rgba(255, 255, 255, 0.58);
}
.icon-contact {
  height: 6em;
}
@media (max-width: 700px) {
    .icon-contact {
        display: none;
    }
}
.shield img {
  height: 30px;
}
.footer-bottom {
    background-color: rgb(10, 73, 105);
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 14px;
}
footer nav ul {
    list-style-type: none;
    float: left;
    width: 25%;
    padding: 0;
}
footer nav li {
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 7px;
}
footer nav li.title {
    font-weight: 400;
    margin-bottom: 15px;
}

/* base.html */
.header-section {
    min-height: 300px;
    width: 100%;
    position: relative;
    background-image: url("/static/img/iugw.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    font-size: 14px;
}
.header-section h3 {
    color: white;
    font-size: 2.4em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
.header-section h6 {
    font-size: 1.4em;
    font-weight: 300;
}
.header-section-title {
    margin-top: 65px;
    text-align: center;
}
/* gettingstarted.html */
.install-section {
  text-align: center;
}
.code {
    background-color: #e4eef3;
    border: 1px solid #6ba1bb;
    border-radius: 7px;
    font-family: Source Code Pro;
    font-weight: 400;
    font-size: 14px;
    color: #245e79;
    padding: 10px;
    white-space: pre-line;
    line-height: 30px;
    padding-left: 30px;
    margin: 30px 0;
    text-align: left;
}
.command {
  font-weight: 600;
}
.json {
  color: #777;
}
.goto-button {
    text-align: center;
    padding: 20px;
}
.goto-button a {
    text-decoration: none;
    border-radius: 4px;
    line-height: 25px;
    padding: 15px 60px;
    background-color: rgba(13,95,137,0.8);
    color: rgb(212, 229, 239);
    height: 50px;
    font-size: 1em;
    font-weight: 200;
}
.goto-button a:hover,
.goto-button a:active {
    color: white;
}
.mega {
    vertical-align: bottom;
    padding-left: 10px;
}
i.large-icon, i.large-icon {
  font-size: 12em !important;
  color: #245e79;
}
.develop-section i {
  color: #245e79;
}
/* community.html */
.shield-big {
  text-align:center;
  padding: 20px;

}
.shield-big img {
  height: 30px;
}
.support-section img {
  max-height: 6em;
  margin-bottom: 30px;
}

/* showcase.html */
.hidden {
  display: none;
}
.thumbnail {
  max-width: 360px;
  margin: 10px;
  /* The following 3 lines help speeding up isotope */
  transform:translate3d(0,0,0);
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
}
.thumbnail img {
  height: 300px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
@media only screen and (max-device-width: 768px) {
  .thumbnail h3 {
    font-size: 1em;
    color: red;
  }
  .thumbnail .caption p {
    font-size: 0.6em;
  }
}

/* New site documentation */
.numbering {
  font-weight: 200;
  font-size: 4em;
  color: rgba(61, 104, 125, 1);
  border: 3px solid rgba(61, 104, 125, 1);
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.new-site-section {
  text-align: center;
}
.pull-request {
  max-width: 620px;
}
/* Error page */
.error-page {
  height: 100%;
  width: 100%;
  text-align: center;
}
.error-page .row {
  display: flex;
  align-items: center;
}
.error-page-title {
  font-size: 2em;
  padding: 90px;
  -webkit-font-smoothing: antialiased;
}

.error-page-title a {
  text-decoration: underline;
}
