{% extends "page.html" %}
{% set active_page = "about" %}

{% block page_title %}{{ this.title }}{% endblock %}
{% block page_subtitle %}A brief story of an open source project{% endblock %}
{% block page_body %}
<section class="about-section section-content-white-bg">
    <div class="container">
      <span class="section-title">What is Invenio?</span>
      <div clas="row">
        <p>
          Invenio is an open source project that was initially developed by CERN.
          The Invenio brand today covers a suite of currently three main products
          developed by the Invenio community:
        </p>
        <ul>
          <li>InvenioRDM - a repository/document management platform</li>
          <li>Invenio ILS - an integrated library system</li>
          <li>Invenio Framework - a code library to build large-scale information
            systems such as InvenioRDM and Invenio ILS</li>
        </ul>
        <p>
          In addition to the three main products, a larger number of smaller
          generic code libraries are also being maintained for the benefit of
          the open source commuinty independently of Invenio.
        </p>
      </div>
      <span class="section-title">History</span>
      <div clas="row">
        <p>
          Originally, Invenio v1, was a software application that acted as both a
          digital repository and an integrated library system based on MARC21. The first
          release of Invenio (named CDSWare back then) was on August 1st, 2002.
        </p>
        <p>
          In 2015, Invenio v3 was rewritten from scratch in order to better support
          large-scale research data managmenet use cases as well as take advantage
          of significant developments in open source off-the-shelf solutions which
          didn't exist back in 2002. Invenio v3 also marked the departure from
          MARC21 as the core metadata format, towards a fully JSON-based system
          supporting many different metadata formats and not only MARC21.
        </p>
        <p>
          Invenio v3 further marked the split of Invenio into several separate products
          each focusing on specific use cases, but all based on the same core
          Invenio Framework v3.
        </p>
        <p>
          What about Invenio v2? Please don't ask (number 2 is always bad right?) 😀
        </p>
      </div>
    </div>
</section>
<section id="logos" class="logos-section section-content-light-bg">
    <div class="container">
      <span class="section-title">Logo download</span>
      <h6 class="section-subtitle">Feel free to use our logos which are available under CC-BY licence.</h6>
      <div clas="row centered">
        <div class="col-md-6">
          <a href="{{ '/static/img/logo-invenio-white.svg'|asseturl}}" download><img src="{{ '/static/img/logo-invenio-white.svg'|asseturl}}"></a>
        </div>
        <div class="col-md-6">
          <a href="{{ '/static/img/logo-invenio-framework.svg'|asseturl}}" download><img src="{{ '/static/img/logo-invenio-framework.svg'|asseturl}}"></a>
        </div>
      <div clas="row centered">
        <div class="col-md-6">
          <a href="{{ '/static/img/logo-invenio-rdm.svg'|asseturl}}" download><img src="{{ '/static/img/logo-invenio-rdm.svg'|asseturl}}"></a>

        </div>
        <div class="col-md-6">
          <a href="{{ '/static/img/logo-invenio-ils.svg'|asseturl}}" download><img src="{{ '/static/img/logo-invenio-ils.svg'|asseturl}}"></a>
        </div>
      </div>
    </div>
</section>
{% endblock %}
