{% extends 'page.html' %}
{% set active_page = "community" %}

{% block page_title %}Invenio Community{% endblock %}
{% block page_subtitle %}Meet users and developers{% endblock %}
{% block page_body %}
  <section class="findus-section section-content-white-bg">
    <div class="container">
      <span class="section-title-light-bg">How to contact us?</span>
      <div class="row">
        <div class="col-md-4">
          <h6>Chatroom</h6>
          <p class="text-justify">The fastest way to get a reply is to join our chatroom. Here most developers and maintainers of Invenio hangout during their regular working hours.</p>
        </div>
        <div class="col-md-4">
            <h6>Knowledgebase/Forum</h6>
            <p class="text-justify">Ask questions or browse answers to existing questions.</p>
        </div>
        <div class="col-md-4">
          <h6>GitHub</h6>
          <p class="text-justify">If you have feature requests or want to report potential bug, you can do it by opening an issue in one of the individual Invenio module repositories.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="shield-big"><a href="https://gitter.im/inveniosoftware/invenio"><img src="{{ '/static/img/gitter.svg'|asseturl }}"></a></div>
        </div>
        <div class="col-md-4">
          <p><a class="btn btn-default" href="https://github.com/inveniosoftware/troubleshooting/issues">Troubleshooting</a></p>
        </div>
        <div class="col-md-4">
          <p><a class="btn btn-default" href="https://github.com/inveniosoftware"><i class="fa fa-github" aria-hidden="true"></i> inveniosoftware</a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="develop-section section-content-light-bg">
    <div class="container">
      <span class="section-title-light-bg">Development</span>
      <div class="row">
        <div class="col-md-3 centered">
          <i class="large-icon fa fa-github" aria-hidden="true"></i>
        </div>
        <div class="col-md-9">
            <p>Invenio is a modular framework of independent collaborative packages. The packages are located in two different GitHub organisations:</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-check"></i><a href="https://github.com/inveniosoftware">inveniosoftware</a>: Core packages maintained by the Invenio project team in a homogeneous way and adhering to strict quality requirements.</li>
            <li><i class="fa-li fa fa-users"></i><a href="https://github.com/inveniosoftware-contrib">inveniosoftware-contrib</a>: A collection of third-party packages maintained by contributing teams and may follow different practices and quality requirements.</li>
          </ul>
          <br>
          <p>You may be interested in our <a href="https://invenio.readthedocs.io/en/latest/developersguide/index.html">development practices</a> and <a href="https://invenio.readthedocs.io/en/latest/community/contribution-guide.html">contributing guide</a>.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-content-white-bg">
    <div class="container">
      <span class="section-title-white-bg">Invenio Developer Forum</span>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>Monday afternoons at 16:00 CET/CEST time we meet physically at CERN and virtually over videoconference to discuss interesting development topics.</p>
          <br>
          <p>You can join our Monday forums from anywhere via videoconference. Here the steps:</p>
          <ol>
            <li>Install the videoconferencing client <a href="https://vidyoportal.cern.ch">Vidyo</a>.</li>
            <li>Join our <a href="https://vidyoportal.cern.ch/flex.html?roomdirect.html&key=ygjcGzMEk8re">virtual room</a>.</li>
          </ol>
        </div>
      </div>
      <br>
      <div class="goto-button"><a href="https://indico.cern.ch/category/6046/">View schedule</a></div>
    </div>
  </section>
  <section class="section-content-light-bg">
    <div class="container">
      <span class="section-title-light-bg">Invenio User Group Workshop</span>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>We meet among Invenio users and developers from around the world at yearly <em>Invenio User Group Workshop</em>. The workshop consists of a series of presentations, tutorials, practical exercises, and discussions on topics related to Invenio digital library management and development. We exchange knowledge and experiences and drive forward the forthcoming developments of the Invenio platform.</p>
        </div>
      </div>
      <br>
      <div class="goto-button"><a href="https://indico.cern.ch/category/6240/">View our workshops</a></div>
    </div>
  </section>
  <section class="support-section section-content-white-bg">
    <div class="container">
      <span class="section-title-white-bg">Looking for cloud hosting and/or commercial support?</span>
      <div class="row centered">
        <div class="col-md-8 col-md-offset-2">
          <a href="http://tind.io"><img src="{{ '/static/img/logo-tind.png'|asseturl }}"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p><a href="http://tind.io">TIND</a> is a CERN spin-off company offering commercial services around Invenio platform, including cloud hosting and custom feature development.</p>
          <p>&nbsp;</p>
          <p class="small text-muted text-center">Providing commercial Invenio services? <a href="mailto:info@inveniosoftware.org">Contact us</a> to be shown here.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
p
