<div class="row">
  <div class="col-md-6">
    <a href="{{'/'|url}}"><img class="icon-contact" src="{{ '/static/img/logo-invenio-white.svg'|asseturl }}" /></a>
  </div>
  <div class="col-md-6">
    <h3 class="contact-title">Keep in touch</h3>
    <table class="contact-list">
      <tbody>
        <tr>
          <td class="contact-list-header">Documentation</td>
          <td><a href="https://invenio.readthedocs.io/en/latest/">Read The Docs</a></td>
        </tr>
        <tr>
          <td class="contact-list-header">GitHub</td>
          <td>
            <a href="https://github.com/inveniosoftware">@inveniosoftware</a> &middot; <a href="https://github.com/inveniosoftware-contrib">@inveniosoftware-contrib</a>
          </td>
        </tr>
        <tr>
          <td class="contact-list-header">Chat room</td>
          <td>
            <a href="https://gitter.im/inveniosoftware/invenio"><img src="{{ '/static/img/gitter.svg'|asseturl }}"></a>
          </td>
        </tr>
        <tr>
          <td class="contact-list-header">Twitter</td>
          <td>
            <a href="https://twitter.com/inveniosoftware">@inveniosoftware <i class="fa fa-twitter" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <td class="contact-list-header">Weekly video meetings</td>
          <td><a href="https://indico.cern.ch/category/6046/">Invenio Developer Forum</a></td>
        </tr>
        <tr>
          <td class="contact-list-header">Yearly workshops</td>
          <td><a href="https://indico.cern.ch/category/6240/">Invenio User Group Workshop</a></td>
        </tr>
        <tr>
          <td class="contact-list-header">Email<br />
            <small>(note: no technical support)</small></td>
          <td>
            <a href="href=mailto:info@inveniosoftware.org?Subject=Hello">info@inveniosoftware.org</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
