<div class="row">
  <div class="col-md-6 footer-logo-centered">
    <a href="{{'/'|url}}"><img class="icon-contact" src="{{ '/static/img/logo-invenio-white.svg'|asseturl }}" /></a>
  </div>
  <div class="col-md-2">
    <h3 class="contact-title">Products</h3>
    <table class="contact-list">
      <tbody>
        <tr>
          <td><a href="{{ '/products/rdm/'|url }}">InvenioRDM</a></td>
        </tr>
        <tr>
          <td>
            <a href="{{ '/products/ils/'|url }}">Invenio ILS</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{ '/products/framework/'|url }}">Invenio Framework</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{ '/#products'|url }}">Get Started</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{ '/showcase/'|url }}">Examples</a>
          </td>
        </tr>
        <tr>
          <td><a href="{{ '/about/'|url }}">About</a></td>
        </tr>
        <tr>
          <td><a href="{{ '/about#logos'|url }}">Logos</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <h3 class="contact-title">Community</h3>
    <table class="contact-list">
      <tbody>
        <tr>
          <td><a href="{{ '/roadmap/'|url }}">Roadmap</a></td>
        </tr>
        <tr>
          <td>
            <a href="{{ '/getinvolved/'|url }}">Get Involved</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{ '/events/'|url }}">Events & Training</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{ '/support/'|url }}">Hosting & Support</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{ '/governance/'|url }}">Governance</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{ '/people/'|url }}">People</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <h3 class="contact-title">Keep in touch</h3>
    <table class="contact-list">
      <tbody>
        <tr>
          <td><a href="https://invenio.readthedocs.io/en/latest/">Documentation</a></td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/inveniosoftware">GitHub</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://gitter.im/inveniosoftware/invenio">Chatroom</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://invenio-talk.web.cern.ch">Forum</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://twitter.com/inveniosoftware">Twitter</a>
          </td>
        </tr>
        <tr>
          <td><a href="{{ '/blog/'|url }}">Blog</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
