{% extends "page.html" %}
{% set active_page = "community" %}

{% block page_title %}{{ this.title }}{% endblock %}
{% block page_subtitle %}How to be part of Invenio, contribute, use, collaborate or simply participate{% endblock %}
{% block page_body %}
<section class="get-involved-section section-content-white-bg">
    <div class="container">
      <span class="section-title">InvenioRDM project</span>
      <div class="row centered">
        <div class="col-md-6">
          <h2><i class="fa fa-comment"></i><a href="http://invenio-talk.web.cern.ch/"> Talk</a></h2>
          <p>
            Join our project forum and collaborate.
          </p>
        </div>
        <div class="col-md-6">
          <h2><i class="fa fa-keyboard-o"></i><a href="https://gitter.im/inveniosoftware/InvenioRDM"> Chat</a></h2>
          <p>
            Find all the partners in our official chatroom.
          </p>
        </div>
      </div>
      <div class="row centered">
        <div class="col-md-6">
          <h2><i class="fa fa-github"></i><a href="https://github.com/inveniosoftware/invenio-app-rdm"> Code</a></h2>
          <p>
            Have a look at InvenioRDM code evolution.
          </p>
        </div>
        <div class="col-md-6">
          <h2><i class="fa fa-calendar"></i><a href="{{ '/events/'|url }}"> Events</a></h2>
          <p>
            We run bootcamps, workshops, team meetings. Join in person or remotely.
          </p>
        </div>
      </div>
    </div>
</section>
<section class="get-involved-section section-content-light-bg">
    <div class="container">
      <span class="section-title">InvenioILS project</span>
      <div class="row centered">
        <div class="col-md-6">
          <h2><i class="fa fa-comment"></i><a href="http://invenio-talk.web.cern.ch/"> Talk</a></h2>
          <p>
            Join our project forum and collaborate.
          </p>
        </div>
        <div class="col-md-6">
          <h2><i class="fa fa-keyboard-o"></i><a href="https://gitter.im/inveniosoftware/invenio"> Chat</a></h2>
          <p>
            Find all the partners in our official chatroom.
          </p>
        </div>
      </div>
      <div class="row centered">
        <div class="col-md-6">
          <h2><i class="fa fa-github"></i><a href="https://github.com/inveniosoftware/invenio-app-ils"> Code</a></h2>
          <p>
            Have a look at InvenioRDM code evolution.
          </p>
        </div>
        <div class="col-md-6">
          <h2><i class="fa fa-calendar"></i><a href="{{ '/events/'|url }}"> Events</a></h2>
          <p>
            We run bootcamps, workshops, team meetings. Join in person or remotely.
          </p>
        </div>
      </div>
    </div>
</section>
<section class="get-involved-section section-content-white-bg">
    <div class="container">
      <span class="section-title">Invenio Framework</span>
      <div class="row centered">
        <div class="col-md-6">
          <h2><i class="fa fa-comment"></i><a href="http://invenio-talk.web.cern.ch/"> Talk</a></h2>
          <p>
            Join our project forum and collaborate.
          </p>
        </div>
        <div class="col-md-6">
          <h2><i class="fa fa-keyboard-o"></i><a href="https://gitter.im/inveniosoftware/invenio"> Chat</a></h2>
          <p>
            Find all the partners in our official chatroom.
          </p>
        </div>
      </div>
      <div class="row centered">
        <div class="col-md-6">
          <h2><i class="fa fa-github"></i><a href="https://github.com/inveniosoftware"> Code</a></h2>
          <p>
            Have a look at InvenioRDM code evolution.
          </p>
        </div>
        <div class="col-md-6">
          <h2><i class="fa fa-calendar"></i><a href="{{ '/events/'|url }}"> Events</a></h2>
          <p>
            We run bootcamps, workshops, team meetings. Join in person or remotely.
          </p>
        </div>
      </div>
    </div>
</section>
{% endblock %}
