{% extends "page.html" %}
{% set active_page = "community" %}

{% block page_title %}{{ this.title }}{% endblock %}
{% block page_subtitle %}How to be part of Invenio, contribute, use, collaborate or simply participate{% endblock %}
{% block page_body %}
<section class="get-involved-section section-content-white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2><i class="fa fa-graduation-cap"></i><a href=""> Roadmap</a></h2>
          <p>
            The project is on going and will intend to have it ready by mid-2020.
          </p>
        </div>
        <div class="col-md-3">
          <h2><i class="fa fa-comment"></i><a href="http://invenio-talk.web.cern.ch/"> Talk</a></h2>
          <p>
            Join our project forum and collaborate.
          </p>
        </div>
        <div class="col-md-3">
          <h2><i class="fa fa-keyboard-o"></i><a href="https://gitter.im/inveniosoftware/InvenioRDM"> Chat</a></h2>
          <p>
            Find all the partners in our official chatroom.
          </p>
        </div>
        <div class="col-md-3">
          <h2><i class="fa fa-github"></i><a href="https://github.com/inveniosoftware/invenio-app-rdm"> Code</a></h2>
          <p>
            Have a look at Invenio RDM code evolution.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h2><i class="fa fa-video-camera"></i><a href="{{ '/events/'|url }}"> Events</a></h2>
          <p>
            We run bootcamps, workshops, team meetings. Join in person or remotely.
          </p>
        </div>
        <div class="col-md-3">
          <h2><i class="fa fa-list-alt"></i><a href="#features"> Features</a></h2>
          <p>
            Have a quick look at the mean goals for the future Invenio RDM.
          </p>
        </div>
        <div class="col-md-3">
          <h2><i class="fa fa-list-alt"></i><a href="#features"> Features</a></h2>
          <p>
            Have a quick look at the mean goals for the future Invenio RDM.
          </p>
        </div>
        <div class="col-md-3">
          <h2><i class="fa fa-list-alt"></i><a href="#features"> Features</a></h2>
          <p>
            Have a quick look at the mean goals for the future Invenio RDM.
          </p>
        </div>
      </div>
    </div>
</section>
{% endblock %}
