{% extends 'page.html' %}
{% set active_page = "gettingstarted" %}

{% block page_title %}Getting started with Invenio{% endblock %}
{% block page_subtitle %}Installation and first steps{% endblock %}
{% block page_body %}
  <section class="install-section section-content-white-bg">
    <div class="container">
      <span class="section-title-light-bg">Installation</span>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger">TODO</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          Looking for Invenio v1.x or 2.x? See our <a href="{{'/legacy'|url}}">legacy releases</a>.
        </div>
      </div>
    </div>
  </section>
  <section class="documentation-section section-content-light-bg">
    <div class="container">
      <span class="section-title-light-bg">Documentation</span>
      <div class="row">
        <div class="col-md-3 centered">
          <i class="large-icon fa fa-book" aria-hidden="true"></i>
        </div>
        <div class="col-md-9">
          <p>All the documentation can be found on <a href="http://invenio.readthedocs.io/">Read The Docs</a>. You can read about the installation and customisation of Invenio instances, the architecture and the technology overview, as well as our development practices.</p>
          <p>See also our further project related information such as our <a href="{{ '/roadmap'|url }}">roadmap</a>, <a href="http://invenio.readthedocs.io/en/latest/community/governance.html">governance</a> and <a href="http://invenio.readthedocs.io/en/latest/community/code-of-conduct.html">code of conduct</a>.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
