{% extends "page.html" %}
{% set active_page = "community" %}

{% block page_title %}{{ this.title }}{% endblock %}
{% block page_subtitle %}Some nice text here{% endblock %}
{% block page_body %}
<section class="section-content-light-bg">
    <div class="container">
        <div clas="row">
            <div class="col-md-12">
              Fill
            </div>
        </div>
    </div>
</section>
<section class="section-content-white-bg">
    <div class="container">
        <div clas="row">
            <div class="col-md-12">
              Fill
            </div>
        </div>
    </div>
</section>
{% endblock %}
