{% set navigation_bar = [
  ('home', 'Home', '/'),
  ('products', 'Products', [
    ('product-rdm', 'InvenioRDM', '/products/rdm'),
    ('product-ils', 'InvenioILS', '/products/ils'),
    ('product-framework', 'Invenio Framework', '/products/framework')
  ]),
  ('showcase', 'Examples', '/showcase'),
  ('community', 'Community', [
    ('roadmap', 'Roadmap', '/roadmap'),
    ('getinvolved', 'Get involved', '/getinvolved'),
    ('events-training', 'Events & Training', '/events'),
    ('hosting-support', 'Hosting & Support', '/support'),
    ('governance', 'Governance', '/governance'),
    ('people', 'People', '/people')
  ]),
  ('documentation', 'Docs', '/documentation'),
  ('blog', 'Blog', '/blog'),
  ('talk', 'Talk', 'https://invenio-talk.web.cern.ch'),
  ('about', 'About', '/about'),
] -%}
{% set active_page = active_page|default('home') -%}

<header class="header-nav">
  <nav class="navbar navbar-fixed-top invenio-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#inv-navbar-collapse" aria-controls="inv-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{'/'|url}}" class="navbar-brand">
          <img src="{{ '/static/img/logo-invenio-white.svg'|asseturl }}" alt="">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="inv-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% for page_id, caption, anchor in navigation_bar %}
            {% if anchor is string %}
              <li><a{% if page_id == active_page %} class="active-menu"{% endif %} href="{{anchor|url if not anchor.startswith('http') else anchor}}">{{caption|e}}</a></li>
            {% else %}
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle{% if page_id == active_page %} active-menu{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">{{caption|e}}</span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% for subpage_id, caption, href in anchor %}
                    <li><a href="{{href|url if not href.startswith('http') else href}}">{{caption|e}}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
