{% set navigation_bar = [
  ('gettingstarted', 'Get started', '/gettingstarted'),
  ('features', 'Features', '/#features'),
  ('showcase', 'Examples', '/showcase'),
  ('community', 'Community', '/community'),
  ('roadmap', 'Roadmap', '/roadmap'),
  ('blog', 'Blog', '/blog'),
] -%}
{% set active_page = active_page|default('home') -%}

<header>
  <nav class="navbar navbar-fixed-top invenio-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          {% for entry in navigation_bar %}
            <span class="icon-bar"></span>
          {% endfor %}
        </button>
        <a href="{{'/'|url}}" class="navbar-brand">
          <img src="{{ '/static/img/logo-invenio-white.png'|asseturl }}" alt="">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="inv-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% for page_id, caption, href in navigation_bar %}
            <li><a{% if page_id == active_page %} class="active-menu"{% endif %} href="{{href|url}}">{{caption|e}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
