{% extends 'layout.html' %}

{% block body %}
  <script>
    $.getJSON( "https://api.github.com/repos/inveniosoftware/invenio", function( data ) {
      $("#forks_count").text(data.forks_count);
    });
    $.getJSON( "http://query.yahooapis.com/v1/public/yql?q=SELECT%20*%20from%20html%20where%20url=%22http://twitter.com/inveniosoftware%22%20AND%20xpath=%22//li[contains(@class,%27ProfileNav-item--followers%27)]/a/span[@class=%27ProfileNav-value%27]|//li[contains(@class,%27ProfileNav-item--following%27)]/a/span[@class=%27ProfileNav-value%27]%22&format=json", function( data ) {
      $("#followers_count").text(data.query.results.span.content);
    });
  </script>
  <section class="intro-section">
    <div class="cover-image">
      {% include 'header.html' %}
      <div class="vertical-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="headline col-md-10 col-md-offset-1">
                  <img class="welcome-logo" src="{{ '/static/img/logo-invenio-white.png'|asseturl }}"/>
                  <h6>Open Source framework for <u><strong>large-scale</strong></u> digital repositories.</h6>
                  <div class="actions">
                    <div class="col-md-12 col-md-offset-1">
                      <a href="#examples" class="btn white">See examples</a>
                      <a href="#getstarted" class="btn">Get started</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="welcome-features-section section-content-dark-bg">
    <div class="container">
      <div class="row">
        <div class="welcome-features-col col-md-3">
          <h2>Safe</h2>
          <p>
            Invenio has been created with security and long term preservation in mind. Build your digital repository and focus only on what is important to you, Invenio will do the rest.
          </p>
        </div>
        <div class="welcome-features-col col-md-3">
          <h2>Scalable</h2>
          <p>
            Invenio is fast. We have designed it to manage hundreds of millions of records and TB-size files. All your research data can now be archived independently of the size.
          </p>
        </div>
        <div class="welcome-features-col col-md-3">
          <h2>RESTful</h2>
          <p>
            Only a modern framework can create modern digital repositories. Invenio was born for the web, is JSON-native and provides RESTful APIs out of the box that will allow to build apps on top of it.
          </p>
        </div>
        <div class="welcome-features-col col-md-3">
          <h2>Open</h2>
          <p>Invenio is 100% open source software under MIT license. Fork us on <a href="https://github.com/inveniosoftware">GitHub</a> and build your product.Invenio loves open standards for open science.</p>
        </div>
      </div>
      <div class="row">
        <div class="welcome-made-cern col centered">
          <p>Made with <i class="fa fa-heart"></i> at <a href="https://home.cern"><img src="{{ '/static/img/logo-cern-white.svg'|asseturl }}" title="CERN" /></a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="instances-section section-content-white-bg">
    <div class="container">
      <a name="examples"></a>
      <span class="section-title-white-bg">Built on Invenio v3</span>
      <div class="row">
        <div class="col-md-4">
          <a href="https://zenodo.org"><img class="instances" src="{{ '/static/img/screenshots/zenodo.png'|asseturl }}"/></a>
          <h6><a href="https://zenodo.org">Zenodo</a></h6>
          <p>
            Interdisciplinary open research data repository service maintained by <a href="https://home.cern">CERN</a>, and created in collaboration with <a href="https://www.openaire.eu">OpenAIRE</a>.
          </p>
        </div>
        <div class="col-md-4">
          <a href="https://videos.cern.ch"><img class="instances" src="{{ '/static/img/screenshots/cds-videos.png'|asseturl }}"/></a>
          <h6><a href="https://videos.cern.ch">CDS Videos</a></h6>
          <p>
            <a href="https://home.cern">CERN</a> institutional repository for video production.
          </p>
        </div>
        <div class="col-md-4">
          <a href="http://opendata.cern.ch"><img class="instances" src="{{ '/static/img/screenshots/opendata.png'|asseturl }}"/></a>
          <h6><a href="http://opendata.cern.ch">CERN Open Data</a></h6>
          <p>
            Open Data platform publishing PBs of CERN physics data from LHC and other experiments.
          </p>
        </div>
      </div>
      <span class="section-title-white-bg">Upcoming</span>
      <div class="row">
        <div class="col-md-4">
          <h6>WEKO 3</h6>
          <img class="instances" src="{{ '/static/img/icon-biotech.svg'|asseturl }}"/>
          <p>
            Invenio-based multi-repository platform that aims to support 500 Japanese universities. It's being developed by NII, Japan.
          </p>
        </div>
        <div class="col-md-4">
          <h6>INSPIRE-HEP</h6>
          <img class="instances" src="{{ '/static/img/screenshots/inspire-labs.png'|asseturl }}"/>
          <p>
            INSPIRE is the aggregator for all of High Energy Physics.
          </p>
        </div>
        <div class="col-md-4">
          <h6>RERO ILS</h6>
          <img class="instances" src="{{ '/static/img/screenshots/rero.png'|asseturl }}"/>
          <p>
            The RERO ILS project aims at creating the future RERO Integrated Library System.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="goto-button">
          <a href="{{ '/showcase'|url }}">See showcase gallery</a></div>
      </div>
    </div>
  </section>
  <section class="instances-section section-content-light-bg">
    <div class="container">
      <a name="getstarted"></a>
      <span class="section-title-light-bg">Get Started</span>
      <div class="row">
        <div class="col-md-4">
          <h6>1. Bootstrap</h6>
          <p>
            ...
          </p>
        </div>
        <div class="col-md-4">
          <h6>2. Customize</h6>
          <p>
            ....
          </p>
        </div>
        <div class="col-md-4">
          <h6>3. Deploy</h6>
          <p>
            ...
          </p>
        </div>
      </div>
      <div class="row">
        <div class="goto-button">
          <a href="{{ '/gettingstarted'|url }}">See guide</a></div>
      </div>
    </div>
  </section>
  <section class="features-section section-content-white-bg">
    <div class="container">
        <a name="features"></a>
      <span class="section-title-white-bg">Features</span>
      <div class="row features-section-row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="{{ '/static/img/icon-data-model.svg'|asseturl }}"/>
            </div>
            <div class="col-md-9">
              <h6>Flexible data model</h6>
              <p>Use JSON Schema to describes your articles, books, theses,
              photos, videos, research data and software. Write serialisers to
              produce BibTeX, CSL, DataCite, Dublin Core, JSON-LD, or MARCXML.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="{{ '/static/img/icon-search.svg'|asseturl }}"/>
            </div>
            <div class="col-md-9">
              <h6>Powerful search engine</h6>
              <p>Fast search times for repositories of several million records.
                 Confurigurable query language and search facets. Citation
                 networks.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row features-section-row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="{{ '/static/img/icons8-document-96.png'|asseturl }}"/>
            </div>
            <div class="col-md-9">
              <h6>Advanced file management</h6>
              <p>Manage millions of files attached to records. Organise files in
              buckets. Configure abstract storage layer. HTTP and XRootD access
              protocols.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-3 centered">
                    <img src="{{ '/static/img/icons8-filing-cabinet-96.png'|asseturl }}"/>
                </div>
                <div class="col-md-9">
                    <h6>Preservation friendly</h6>
                    <p>Mint persistent identifiers (DOI) for repository assets.
                       Create links between versions. Run fixity checks. Export
                       BagIt archival packages.</p>
                </div>
            </div>
        </div>
      </div>
      <div class="row features-section-row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="{{ '/static/img/icon-community.svg'|asseturl }}"/>
            </div>
            <div class="col-md-9">
              <h6>User communities</h6>
              <p>Organise your documents in community collections. Set up
              advanced user authentication (OAuth, SSO). Define fine-grained
              access rights. Collect usage statistics.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-3 centered">
                    <img src="{{ '/static/img/icon-extensible.svg'|asseturl }}"/>
                </div>
                <div class="col-md-9">
                    <h6>REST API</h6>
                    <p>Use more than one hundred independent packages
                       collaborating via rich REST APIs. Pick the packages you
                       want and use the full power of Python to combine and
                       extend them.</p>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="flavour-section section-content-light-bg">
    <div class="container">
      <span id="open-source-section" class="section-title-light-bg">The Best of Open Source</span>
      <h6>Invenio's core is relying on some of the world's top open source products.</h6>
      <div class="row">
        <div class="col-md-4">
          <img class="flavour" src="{{ '/static/img/elasticsearch.svg'|asseturl }}"/>
          <h6>Elasticsearch</h6>
          <p>
            Elasticsearch is an open source distributed, RESTful search and analytics engine capable of solving a growing number of use cases.
          </p>
        </div>
        <div class="col-md-4">
          <img class="flavour" src="{{ '/static/img/flask.svg'|asseturl }}"/>
          <h6>Python/Flask</h6>
          <p>
            Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions. And before you ask: It's BSD licensed!
          </p>
        </div>
        <div class="col-md-4">
          <img class="flavour" src="{{ '/static/img/postgresql.svg'|asseturl }}"/>
          <img class="flavour" src="{{ '/static/img/mysql-6.svg'|asseturl }}"/>
          <h6>PostgreSQL/MySQL</h6>
          <p>
            PostgreSQL is a powerful, open source object-relational database system with over 30 years of active development that has earned it a strong reputation for reliability, feature robustness, and performance.
          </p>
        </div>
      </div>
    </div>
  </section>
  {% include "footer.html" %}

  {%- block trackingcode %}
  {% include "trackingcode.html" %}
  {%- endblock %}

{% endblock %}
