{% extends 'layout.html' %}

{% from "macros/blog-list-item.html" import render_blog_list_item_homepage %}

{% block body %}
  <section class="intro-section">
    <div class="cover-image">
      {% include 'header.html' %}
      <div class="container">
        <div class="row centered">
          <div class="col-12">
            {% include "logo-invenio-white-headline.svg" %}
            <div class="born-at-cern centered">
              <p>Born with <i class="fa fa-heart fa-heart-cern"></i> at <a href="https://home.cern"><img src="{{ '/static/img/logo-cern-white.svg'|asseturl }}" title="CERN" /></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hp-blog-section section-content-light-bg">
    <div class="container">
      <span class="section-title">New on the blog <i class="fa fa-share fa-share-down" style=""></i></span>
      <div class="row">
        <div class="col-md-12 col-xs-12 block-center">
          <div class="hp-blog-post-list">
            {% for post in this.pagination.items %}
              <div class="hp-blog-list-item col-xs-12 col-md-4">
                {{ render_blog_list_item_homepage(post) }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="trusted-by-section section-content-white-bg">
    <div class="container">
      <span class="section-title"><i class="fa fa-heart"></i> Trusted by</span>
      <div id="invenio-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#invenio-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#invenio-carousel" data-slide-to="1"></li>
          <li data-target="#invenio-carousel" data-slide-to="2"></li>
          <li data-target="#invenio-carousel" data-slide-to="3"></li>
          <li data-target="#invenio-carousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <div class="carousel-panel">
              <a href="http://home.cern"><img src="{{ '/static/img/logo-cern.png'|asseturl }}" title="CERN"></a>
              <a href="https://www.nii.ac.jp/en/"><img src="{{ '/static/img/logo-nii.png'|asseturl }}" title="NII"></a>
              <a href="https://www.northwestern.edu/"><img src="{{ '/static/img/logo-northwestern-university.png'|asseturl }}" title="Northwestern University"></a>
            </div>
            <div class="carousel-panel">
              <a href="http://www.bnl.gov/"><img src="{{ '/static/img/logo-bnl.png'|asseturl }}" title="Brookhaven National Laboratory"></a>
              <a href="http://www.treccani.it/"><img src="{{ '/static/img/logo-treccani.png'|asseturl }}" title="Treccani"></a>
              <a href="https://www.library.caltech.edu/"><img src="{{ '/static/img/logo-caltechlibrary.png'|asseturl }}" title="Caltech Library"></a>
            </div>
          </div>
          <div class="item">
            <div class="carousel-panel">
              <a href="https://ctsa.ncats.nih.gov/cd2h/"><img src="{{ '/static/img/logo-ctsa.png'|asseturl }}" title="CTSA Program National Center for Data to Health"></a>
              <a href="https://www.data-futures.org/"><img src="{{ '/static/img/logo-data-futures.png'|asseturl }}" title="Data Futures"></a>
              <a href="https://www.hzdr.de/"><img src="{{ '/static/img/logo-hzdr.png'|asseturl }}" title="Helmholtz Zentrum Dresden-Rossendorf"></a>
            </div>
            <div class="carousel-panel">
              <a href="https://www.openaire.eu/"><img src="{{ '/static/img/logo-openaire.png'|asseturl }}" title="OpenAIRE"></a>
              <a href="https://tind.io/"><img src="{{ '/static/img/logo-tind.png'|asseturl }}" title="TIND"></a>
              <a href="http://www.tubitak.gov.tr/"><img src="{{ '/static/img/logo-tubitak.png'|asseturl }}" title="Tubitak"></a>
            </div>
          </div>
          <div class="item">
            <div class="carousel-panel">
              <a href="https://www.uni-hamburg.de/"><img src="{{ '/static/img/logo-uni-hamburg.png'|asseturl }}" title="University of Hamburg"></a>
            </div>
            <div class="carousel-panel">
              <a href="https://www.uni-muenster.de/en/"><img src="{{ '/static/img/logo-uni-munster.png'|asseturl }}" title="University of Münster"></a>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#invenio-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#invenio-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </section>
  <section class="powering-open-science-section section-content-light-bg">
    <div class="container">
      <span class="section-title"><i class="fa fa-globe"></i> Powering Open Science</span>
      <div class="row">
        <div class="col-md-4">
          {% include 'icon-open-source.svg' %}
          <h6>Free Open Source Sofware</h6>
          <p>Invenio is Free Open Source Software supported by a commited community of multidisciplinary institutions.</p>
        </div>
        <div class="col-md-4">
          {% include 'icon-open-source.svg' %}
          <h6>Friendly and Responsive Community</h6>
          <p>Although Invenio was born at CERN, its community is every day bigger. You can quickly reach us in our chatroom.</p>
        </div>
        <div class="col-md-4">
          {% include 'icon-open-source.svg' %}
          <h6>Free Open Source Sofware</h6>
          <p>Invenio is Free Open Source Software supported by a commited community of multidisciplinary institutions.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="instances-section section-content-white-bg">
    <div class="container">
      <span class="section-title"><i class="fa fa-check"></i> Built on Invenio</span>
      <div class="row">
        <div class="col-md-4">
          <a href="https://zenodo.org"><img class="instances" src="{{ '/static/img/inbrowser-screenshot-zenodo.png'|asseturl }}"/></a>
          <h6><a href="http://zenodo.org">Zenodo</a></h6>
          <p>
            Interdisciplinary open research data repository service built and operated by <a href="https://home.cern">CERN</a> and <a href="https://www.openaire.eu">OpenAIRE</a>.
          </p>
        </div>
        <div class="col-md-4">
          <a href="https://videos.cern.ch"><img class="instances" src="{{ '/static/img/inbrowser-screenshot-cds-videos.png'|asseturl }}"/></a>
          <h6><a href="http://zenodo.org">CDS Videos</a></h6>
          <p>
            <a href="https://home.cern">CERN</a> institutional repository for videos including trans-coding backend.
          </p>
        </div>
        <div class="col-md-4">
          <a href="http://opendata.cern.ch"><img class="instances" src="{{ '/static/img/inbrowser-screenshot-cod.png'|asseturl }}"/></a>
          <h6><a href="http://opendata.cern.ch">CERN Open Data</a></h6>
          <p>
            Open Data platform publishing PBs of CERN physics data from LHC and other experiments.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="goto-button">
          <a href="{{ '/showcase'|url }}">See showcase gallery</a></div>
      </div>
    </div>
  </section>
  {% include "footer.html" %}

  {%- block trackingcode %}
  {% include "trackingcode.html" %}
  {%- endblock %}

{% endblock %}
