{% extends 'layout.html' %}

{% block body %}
  <script>
    $.getJSON( "https://api.github.com/repos/inveniosoftware/invenio", function( data ) {
      $("#forks_count").text(data.forks_count);
    });
    $.getJSON( "http://query.yahooapis.com/v1/public/yql?q=SELECT%20*%20from%20html%20where%20url=%22http://twitter.com/inveniosoftware%22%20AND%20xpath=%22//li[contains(@class,%27ProfileNav-item--followers%27)]/a/span[@class=%27ProfileNav-value%27]|//li[contains(@class,%27ProfileNav-item--following%27)]/a/span[@class=%27ProfileNav-value%27]%22&format=json", function( data ) {
      $("#followers_count").text(data.query.results.span.content);
    });
  </script>
  <section class="intro-section">
    <div class="cover-image">
      {% include 'header.html' %}
      <div class="vertical-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="headline col-md-10 col-md-offset-1">
                  <div class="welcome">
                    <h3>Invenio Digital Library Framework</h3>
                    <h6>Build your own fully customised digital library, institutional repository, multimedia archive, or research data repository on the web.</h6>
                  </div>
                  <div class="actions">
                    <form action="{{ 'showcase' }}">
                      <button class="btn white">See showcase</button>
                    </form>
                    <form action="{{ 'gettingstarted' }}">
                      <button class="btn">Get Started</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="flavour-section section-content-white-bg">
    <div class="container">
      <span class="section-title-white-bg">Invenio is a flexible framework</span>
      <div class="row">
        <div class="col-md-5">
          <img class="flavour" src="{{ '/static/img/icon-library.svg'|asseturl }}"/>
          <h6>Integrated Library System</h6>
          <p>
            Manage MARC21 authority and bibliographic records. Curate records
            and run automated quality checks. Use circulation module with
            customisable borrower, item acquisition and interlibrary loan
            workflows.
          </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <img class="flavour" src="{{ '/static/img/icon-biotech.svg'|asseturl }}"/>
          <h6>Research Data</h6>
          <p>
            Capture and preserve research output. Harvest datasets, analysis
            code, virtual machine environment, configuration and knowledge
            information. Visualise data in the browser. Rerun preserved code on
            the cloud.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <img class="flavour" src="{{ '/static/img/icon-film-reel.svg'|asseturl }}"/>
          <h6>Multimedia Archive</h6>
          <p>
            Manage audio, photo and video material. Create thumbnails and
            derived formats. Customise portfolio search outputs. Create albums
            and playlists. Configure related material discovery. Tag multimedia
            content.
          </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <img class="flavour" src="{{ '/static/img/icon-filing-cabinet.svg'|asseturl }}"/>
          <h6>Institutional Repository</h6>
          <p>
            Publish articles, reports or theses of your institute. Organise
            content in collections. Configure ingestion workflows and approvals.
            Mint material with permanent identifiers. Disseminate material via
            OAI-PMH.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="goto-button">
          <a href="{{ '/showcase'|url }}">See showcase gallery</a></div>
      </div>
    </div>
  </section>
  <section class="carousel-section section-content-dark-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="invenio-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#invenio-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#invenio-carousel" data-slide-to="1"></li>
              <li data-target="#invenio-carousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-8 col-xs-9 block-center">
                            <div class="carousel-item-img">
                                <img src="{{ '/static/img/logo-cern-white.svg'|asseturl }}">
                            </div>
                            <div class="carousel-item-text">
                                <p>Invenio was born at <a href="https://home.cern">CERN</a> as
                                   a digital library software solution to run the
                                   <a href="https://cds.cern.ch">CERN document server</a>,
                                   managing over 1,000,000 bibliographic records
                                   in high-energy physics since 2002. Covering
                                   articles, books, journals, photos, videos,
                                   and more.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-8 col-xs-9 block-center">
                            <div class="carousel-item-img">
                                <img src="{{ '/static/img/icon-collaboration.svg'|asseturl }}">
                            </div>
                            <div class="carousel-item-text">
                                <p>Over the years, Invenio has been co-developed by an
                                   international collaboration with contributions from
                                   institutes such as
                                   <a href="http://www.auth.gr/en">AUTH</a>,
                                   <a href="https://www.cfa.harvard.edu/">CFA</a>,
                                   <a href="http://home.cern/">CERN</a>,
                                   <a href="http://www.desy.de/">DESY</a>,
                                   <a href="http://epfl.ch/">EPFL</a>,
                                   <a href="http://www.fz-juelich.de/">FZJ</a>,
                                   <a href="http://gsi.de/">GSI</a>,
                                   <a href="https://www.rero.ch/">RERO</a>,
                                   <a href="https://slac.stanford.edu/">SLAC</a>,
                                   <a href="http://uab.cat/">UAB</a> and more.
                                   Invenio is being used by many scientific
                                   institutes and library networks worldwide.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                  <div class="row">
                      <div class="col-sm-8 col-xs-9 block-center">
                          <div class="carousel-item-img">
                              <img src="{{ '/static/img/icon-open-source.svg'|asseturl }}">
                          </div>
                          <div class="carousel-item-text">
                              <p>Nowadays, Invenio software suite consists
                                 of more than a hundred independent packages
                                 that collaborate via strong REST API. The
                                 flexibility and performance of Invenio make it
                                 a comprehensive solution for document
                                 repositories of moderate to large sizes.</p>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#invenio-carousel" role="button" data-slide="prev">
                <span class="fa fa-angle-left fa-2x"></span>
            </a>
            <a class="right carousel-control" href="#invenio-carousel" role="button" data-slide="next">
                <span class="fa fa-angle-right fa-2x"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="features-section section-content-white-bg">
    <div class="container">
      <span class="section-title-white-bg">Features</span>
      <div class="row features-section-row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="{{ '/static/img/icon-data-model.svg'|asseturl }}"/>
            </div>
            <div class="col-md-9">
              <h6>Flexible data model</h6>
              <p>Use JSON Schema to describes your articles, books, theses,
              photos, videos, research data and software. Write serialisers to
              produce BibTeX, CSL, DataCite, Dublin Core, JSON-LD, or MARCXML.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="{{ '/static/img/icon-search.svg'|asseturl }}"/>
            </div>
            <div class="col-md-9">
              <h6>Powerful search engine</h6>
              <p>Fast search times for repositories of several million records.
                 Confurigurable query language and search facets. Citation
                 networks.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row features-section-row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="{{ '/static/img/icons8-document-96.png'|asseturl }}"/>
            </div>
            <div class="col-md-9">
              <h6>Advanced file management</h6>
              <p>Manage millions of files attached to records. Organise files in
              buckets. Configure abstract storage layer. HTTP and XRootD access
              protocols.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-3 centered">
                    <img src="{{ '/static/img/icons8-filing-cabinet-96.png'|asseturl }}"/>
                </div>
                <div class="col-md-9">
                    <h6>Preservation friendly</h6>
                    <p>Mint persistent identifiers (DOI) for repository assets.
                       Create links between versions. Run fixity checks. Export
                       BagIt archival packages.</p>
                </div>
            </div>
        </div>
      </div>
      <div class="row features-section-row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3 centered">
              <img src="{{ '/static/img/icon-community.svg'|asseturl }}"/>
            </div>
            <div class="col-md-9">
              <h6>User communities</h6>
              <p>Organise your documents in community collections. Set up
              advanced user authentication (OAuth, SSO). Define fine-grained
              access rights. Collect usage statistics.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-3 centered">
                    <img src="{{ '/static/img/icon-extensible.svg'|asseturl }}"/>
                </div>
                <div class="col-md-9">
                    <h6>REST API</h6>
                    <p>Use more than one hundred independent packages
                       collaborating via rich REST APIs. Pick the packages you
                       want and use the full power of Python to combine and
                       extend them.</p>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
      <section class="open-source-section section-content-white-bg">
      <div class="container">
          <span class="section-title-white-bg">Leveraging the power of Open Source</span>
          <div class="row">
              <div class="col-md-4 centered">
                  <a href="https://www.elastic.co/products/elasticsearch"><img src="{{ '/static/img/logo-elastic.svg'| asseturl }}" width="200px" title="Elasticsearch" /></a>
                  <p>&nbsp;</p>
                  <a href="https://redis.io/"><img src="{{ '/static/img/logo-redis.jpg'| asseturl }}" width="140px" title="Redis" /></a>
              </div>
              <div class="col-md-4 centered">
                  <a href="https://www.python.org/"><img src="{{ '/static/img/logo-python.jpg'| asseturl }}" width="240px" title="Python" /></a>
                  <p>&nbsp;</p>
                  <a href="http://flask.pocoo.org/"><img src="{{ '/static/img/logo-flask.jpg'| asseturl }}" width="140px" title="Flask" /></a>
              </div>
              <div class="col-md-4 centered">
                  <a href="https://www.postgresql.org/"><img src="{{ '/static/img/logo-postgresql.png'| asseturl }}" width="80px" title="PostgreSQL" /></a>
                  <p>&nbsp;</p>
                  <a href="http://www.sqlalchemy.org/"><img src="{{ '/static/img/logo-sqlalchemy.jpg'| asseturl }}" width="200px" title="SQLAlchemy" /></a>
              </div>
          </div>
      </div>
  </section>
  {% include "footer.html" %}

  {%- block trackingcode %}
  {% include "trackingcode.html" %}
  {%- endblock %}

{% endblock %}
