{% extends 'page.html' %}
{% set active_page = "legacy" %}

{% block page_title %}Invenio legacy releases{% endblock %}
{% block page_subtitle %}Invenio 1.x and 2.x release series{% endblock %}
{% block page_body %}
<section class="section-content-white-bg">
  <div class="container">
    <span class="section-title">Invenio 1.x</span>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div class="alert alert-warning"><strong>Status:</strong> Invenio v1.x has reached end-of-life and will not receive any further updates.</div>
          <p>
              <a href="https://github.com/inveniosoftware/invenio/releases/tag/v1.2.2">Invenio 1.2.2</a> is
              the last stable release from the old Invenio legacy technology
              code base. If you have been using one of previous Invenio
              versions, it is recommended to upgrade to this version. New users
              should start with <a href="{{'/gettingstarted/'|url}}">Invenio v3</a>
              directly.
          </p>
          <p>
              If you would like to check out Invenio 1.2 locally, we recommend to use Docker:
          </p>
          <p class="code"> $ <span class="command">docker</span> pull tiborsimko/invenio:1.2.2
              $ <span class="command">docker</span> run -i -t --rm -p 80:80 -p 443:443 tiborsimko/invenio:1.2.2
              $ <span class="command">firefox</span> http://0.0.0.0/
          </p>
          <p>
              If you need to work on Invenio 1.2 legacy code base, we recommend to use Vagrant:
          <p class="code"> $ <span class="command">git</span> clone https://github.com/inveniosoftware/invenio -b maint-1.2
              $ <span class="command">cd</span> invenio
              $ <span class="command">for</span> file in $(git ls-files); do \
              &nbsp;&nbsp;sed -i -E 's,invenio-?software.org/download/,inveniosoftware.web.cern.ch/inveniosoftware/download/,g' $file; \
              &nbsp;&nbsp;done
              $ <span class="command">vagrant</span> up && <span class="command">vagrant</span> ssh web
              web> <span class="command">source .inveniorc</span>
              web> <span class="command">/vagrant/scripts/create-instance.sh</span>
              web> <span class="command">/vagrant/scripts/populate-instance.sh</span>
              $ <span class="command">firefox</span> http://192.168.50.10/record/1
          </p>

          <p>
              <strong>Important note:</strong> Invenio 1.2 legacy installation
              and demo site assets that were previously living under <code>invenio-software.org/download/...</code> have
              been moved to another location. Therefore you will need to run the
              above <code>for ... do sed ... done</code> shell command in order
              to replace these URLs by the new location before you start working
              with Invenio 1.2 legacy code base.
          </p>
          <p>
              For more information on Invenio 1.2 release series, please see the old <a href="https://raw.githubusercontent.com/inveniosoftware/invenio/maint-1.2/INSTALL">installation
              guide</a> as well as the <a href="http://demo.inveniosoftware.org/help/">user</a>, <a href="http://demo.inveniosoftware.org/help/admin/">administrator</a> and <a href="http://demo.inveniosoftware.org/help/hacking/">developer</a>
              documentation bundled with each release tarball.
          </p>
          <p>
              If you have questions about Invenio 1.2 release series, please use
              our <a href="https://gitter.im/inveniosoftware/invenio">chat room</a>.
          </p>
      </div>
    </div>
  </div>
</section>
<section class="section-content-white-bg">
    <div class="container">
        <span class="section-title">Invenio 2.x</span>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-warning"><strong>Status:</strong> Invenio v2.x has reached end-of-life and will not receive any further updates.</div>
                <p>
                    Invenio 2.0 and 2.1 release series was transitional releases combining the old Invenio 1.2 legacy
                    code base with the new technology stack, paving the way
                    towards the Invenio v3.0 release. We do not recommend using
                    them and we advise to start with the final <a href="{{'/gettingstarted/'|url}}">Invenio v3</a> directly.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
