<label class="btn btn-default btn-filter active">
  <input type="radio" name="filters" data-value="*" checked>All
</label>
<label class="btn btn-default btn-filter">
  <input type="radio" name="filters" data-value=".research-data">Data
</label>
<label class="btn btn-default btn-filter">
  <input type="radio" name="filters" data-value=".library">Library
</label>
<label class="btn btn-default btn-filter">
  <input type="radio" name="filters" data-value=".multimedia">Multimedia
</label>
<label class="btn btn-default btn-filter">
  <input type="radio" name="filters" data-value=".institutional-repository">Repository
</label>
