{% extends 'layout.html' %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  <section class="header-section">
    <div class="cover-image">
      {% with active_page=active_page %}
        {% include 'header.html' %}
      {% endwith %}
      <div class="container header-section-title">
        <h3>{% block page_title %}{% endblock %}</h3>
        <h6>{% block page_subtitle %}{% endblock %}</h6>
      </div>
    </div>
  </section>
  {% block page_body %}{% endblock %}
  {% include "footer.html" %}

  {%- block trackingcode %}
  {% include "trackingcode.html" %}
  {%- endblock %}

{% endblock %}
