{% extends 'layout.html' %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
  {% block header_section %}
    <section class="header-section {{header_section_classes}}" >
      <div class="cover-image">
        {% with active_page=active_page %}
          {% include 'header.html' %}
        {% endwith %}
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="header-section-title">
                {% block header_section_title %}
                <h1>{% block page_title %}{% endblock %}</h1>
                <p class="sub-title">{% block page_subtitle %}{% endblock %}</p>
                {% endblock %}
              </div>
            </div>
          </div>
          {% block header_section_extra %}{% endblock %}
        </div>
      </div>
    </section>
  {% endblock %}
  {% block page_body %}{% endblock %}
  {% include "footer.html" %}

  {%- block trackingcode %}
  {% include "trackingcode.html" %}
  {%- endblock %}

{% endblock %}
