{% extends "page.html" %}
{% set active_page = "roadmap" %}

{% from "macros/roadmap-card.html" import render_roadmap_card %}
{% block page_title %}Roadmap{% endblock %}
{% block page_subtitle %}Follow our current, near-term and future plans.{% endblock %}
{% block page_body %}
<section class="roadmap-section section-content-white-bg">
    <div class="container">
        <div clas="row">
            <div class="col-md-12">
                <p class="intro">
                Our roadmap helps us share what the Invenio community is
                working on next and the direction that we’re taking Invenio.
                The roadmap is meant to open a practical dialogue on the
                direction of Invenio, and the roadmap may be subject to change
                both on the near-term and future plans based on feedback.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 column">
                <span class="section-title-light-bg">Current</span>
                <p>What we work on now</p>
                {%- for card in this.children if card.column == 'current' %}
                    {{ render_roadmap_card(card) }}
                {%- endfor %}
            </div>
            <div class="col-sm-4 column">
                <span class="section-title-light-bg">Near-term</span>
                <p>What we plan work on next</p>
                {%- for card in this.children if card.column == 'near-term' %}
                    {{ render_roadmap_card(card) }}
                {%- endfor %}
            </div>
            <div class="col-sm-4 column">
                <span class="section-title-light-bg">Future</span>
                <p>What we investigate</p>
                {%- for card in this.children if card.column == 'future' %}
                    {{ render_roadmap_card(card) }}
                {%- endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 feedback">
                <h3 class="intro">Feedback or questions on roadmap?</h3>
                <p class="intro">
                    Get in touch with the Invenio Product Manager:<br />
                    <a href="mailto:info@inveniosoftware.org">Lars Holm Nielsen</a>
            </div>
        </div>
    </div>
</section>
<section class="roadmap-section section-content-light-bg">
    <div class="container">
        <span class="section-title-white-bg">Who is implementing the roadmap?</span>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Invenio development is being led by CERN with contributions from institutions and individuals from all over the world.
                </p>
                <p>Every 3 months, CERN runs one to two 2-weeks development sprints dedicated to above roadmap. Overall, this roughly amounts
                    to 1 FTE (full-time equivalent) per year plus the Invenio Product Manager.
                </p>
                <p>In addition, new modules/features, enhancements, security fixes, etc. are being developed every day by
                    teams at CERN and elsewhere.</p>
            </div>
        </div>
    </div>
  </section>
{% endblock %}
