{% from "macros/roadmap-card.html" import render_roadmap_card %}
<div class="row roadmap-table">
    <div class="col-sm-4 column">
        <h2 class="section-title">Current</h2>
        <p>A team actively works on this now</p>
        {%- for card in this.children if card.column == 'current' %}
            {{ render_roadmap_card(card) }}
        {%- endfor %}
    </div>
    <div class="col-sm-4 column">
        <h2 class="section-title">Near-term</h2>
        <p>A team plans to work on this next</p>
        {%- for card in this.children if card.column == 'near-term' %}
            {{ render_roadmap_card(card) }}
        {%- endfor %}
    </div>
    <div class="col-sm-4 column">
        <h2 class="section-title">Planned</h2>
        <p>A team has planed this on their schedule</p>
        {%- for card in this.children if card.column == 'future' %}
            {{ render_roadmap_card(card) }}
        {%- endfor %}
    </div>
</div>
