{% extends 'page.html' %}
{% set active_page = "showcase" %}

{% block page_title %}How to add an Invenio installation to the showcase{% endblock %}
{% block page_subtitle %}Follow four easy steps to make a pull request{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      // Bootstrap col-md is > 992px (is what we use on the template bellow)
      var bootstrapMD = 992;
      function resizeNumbers() {
        // Reset the sizes
        $('.flex-center-vertically').height('auto');
        // Only resize if the screen is bigger that 992px
        if ($(window).width() > bootstrapMD) {
          $('.flex-center-vertically').each(function() {
            var _height = $(this).parent().parent().height();
            // Set the size of the parent
            $(this).height(
              _height > 1100 ? 1100 : _height
            );
          });
        }
      };
      // Initialize sizes
      resizeNumbers();
      // Bind on window resize event to calculate again the sizes
      $(window).resize(resizeNumbers);
    });
  </script>
{% endblock %}
{% block page_body %}
  <section class="new-site-section section-content-white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <div class="flex-center-vertically">
                <div class="numbering">1</div>
              </div>
            </div>
            <div class="col-md-9 col-md-offset-1">
                <h6>Fork our source code</h6>
                <p>Fork <a href="https://github.com/inveniosoftware/inveniosoftware.github.io">inveniosoftware.github.io</a> source code repository using your GitHub account (e.g. <code>johndoe</code>) and create a new local branch (e.g. <code>johndoelibrary</code>):</p>
              <p class="code">$ <span class="command">git</span> clone https://github.com/johndoe/inveniosoftware.github.io
                $ <span class="command">cd</span> inveniosoftware.github.io
                $ <span class="command">git</span> checkout -b johndoelibrary</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="new-site-section section-content-light-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <div class="flex-center-vertically">
                <div class="numbering">2</div>
              </div>
            </div>
            <div class="col-md-9 col-md-offset-1">
              <h6>Take beautiful screenshot</h6>
              <p>Take a representative screenshot of your site and place it in the <code>base/static/img/screenshots</code> directory. Name the image after your site.</p>
              <p class="code"># take screenshot
                              $ <span class="command">mv</span> ~/Screenshots/johndoelibrary.png base/static/img/screenshots/</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="new-site-section section-content-white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <div class="flex-center-vertically">
                <div class="numbering">3</div>
              </div>
            </div>
            <div class="col-md-9 col-md-offset-1">
              <h6>Describe your site</h6>
              <p>Create a JSON file containing description of your site, such as its full name, the description, the canonical URL, and the type of managed data. Look inside <code>base/sites</code> directory for inspiration.</p>
              <p class="code">$ <span class="command">echo</span> '<span class="json">{
                "name": "John Doe Library",
                "description": "John Doe's Library.",
                "url": "http://example.org/johndoelibrary",
                "screenshot_filename": "johndoelibrary.png",
                "types": ["research-data", "library", "multimedia", "institutional-repository"]
              }</span>' <span class="command">> base/sites/johndoelibrary.json</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="new-site-section section-content-light-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <div class="flex-center-vertically">
                <div class="numbering">4</div>
              </div>
            </div>
            <div class="col-md-9 col-md-offset-1">
              <h6>Make a pull request</h6>
              <p>Commit your changes and publish your branch.</p>
              <p class="code">$ <span class="command">git</span> add base/static/img/screenshots/johndoelibrary.png
                $ <span class="command">git</span> add base/sites/johndoelibrary.json
                $ <span class="command">git</span> commit -s -m "sites: John Doe Library"
                $ <span class="command">git</span> push origin johndoelibrary</p>
              <p>Make a <a href="https://help.github.com/articles/creating-a-pull-request/" target="_blank">pull request</a> so that we can add your site.</p>
              <img class="pull-request" src="{{ '/static/img/pull-request.png'|asseturl }}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
