{% extends "page.html" %}
{% set active_page = "community" %}

{% block page_title %}{{ this.title }}{% endblock %}
{% block page_subtitle %}Figure out how to seek help or commercial hostin{% endblock %}
{% block page_body %}
<section class="support-section section-content-light-bg">
    <div class="container">
      <span class="section-title">Invenio Products are Free Open Source Software</span>
      <h6 class="section-subtitle">You can choose to run the products by yourself and use our community for help and guidance.</h6>
      <div class="row centered">
        <div class="col-md-3">
          <h6><i class="fa fa-keyboard-o"></i> <a href="https://discord.gg/8qatqBC">Chatroom</a></h6>
          <p class="text-justify">The fastest way to get a reply is to join our chatroom. Here most developers and maintainers of Invenio hangout during their regular working hours.</p>
        </div>
        <div class="col-md-3">
            <h6><i class="fa fa-comment"></i> <a href="http://invenio-talk.web.cern.ch">Talk</a></h6>
            <p class="text-justify">Ask questions or browse answers to existing questions.</p>
        </div>
        <div class="col-md-3">
          <h6><i class="fa fa-github"></i> <a href="https://github.com/inveniosoftware">GitHub</a></h6>
          <p class="text-justify">If you have feature requests or want to report potential bug, you can do it by opening an issue in one of the individual Invenio module repositories.</p>
        </div>
        <div class="col-md-3">
          <h6><i class="fa fa-github"></i> <a href="{{ '/events/'|url }}">Events & Training</a></h6>
          <p class="text-justify">Join our events or check out our training material.</p>
        </div>
      </div>
    </div>
</section>
<section class="hosting-section section-content-white-bg">
  <div class="container">
    <span class="section-title">Looking for cloud hosting and/or commercial support?</span>
    <div class="row">
      <div class="col-md-6 centered">
        <a href="https://cottagelabs.com"><img src="{{ '/static/img/logo-cottagelabs.png'|asseturl }}"></a>
      </div>
      <div class="col-md-6">
        <p><a href="https://cottagelabs.com">Cottage Labs</a> is a partnership of data experts who can help you understand and utilise your data more effectively. They provide custom development and integration services on Invenio to meet your needs.</p>
      </div>
    </div>
    <div class="row">
      <p class="small text-muted text-center">Providing commercial InvenioRDM services? <a href="mailto:info@inveniosoftware.org">Contact us</a> to be shown here.</p>
    </div>
  </div>
</section>
{% endblock %}
