<div class="roadmap-year">
    <h3>2022</h3>
</div>

<div class="roadmap-list-container">
    <div class="roadmap-row">
        <div class="roadmap-row-milestone">
            <p>Apr</p>
        </div>
        <div class="roadmap-row-content">
            <h4>v9.0 (LTS)</h4>
            <p>
            <ul>
                <li>Maintained until the next LTS release.</li>
                <li>Planned release date: April 15th (postponed to end of April).</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="roadmap-row">
        <div class="roadmap-row-milestone">
            <p>May</p>
        </div>
    </div>
    <div class="roadmap-row">
        <div class="roadmap-row-milestone">
            <p>Jun</p>
        </div>
        <div class="roadmap-row-content">
            <h4>OR2022</h4>
            <p>
            <ul>
                <li>InvenioRDM Workshop at Open Repositories 2022</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="roadmap-row">
        <div class="roadmap-row-milestone">
            <p>Jul</p>
        </div>
        <div class="roadmap-row-content">
            <h4>v10.0 (STS)</h4>
            <p>
            <ul>
                <li>Maintained until v11.</li>
                <li>Planned release date: end of July.</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="roadmap-row">
        <div class="roadmap-row-milestone">
            <p>Aug</p>
        </div>
    </div>
</div>
