<div class="roadmap-year">
    <h3>2021</h3>
</div>

<div class="roadmap-list-container">
    <div class="roadmap-row">
        <div class="roadmap-row-milestone">
            <p>Oct</p>
        </div>
        <div class="roadmap-row-content">
            <h4>v7.0</h4>
            <p>Maintained until v8.0</p>
        </div>
    </div>
    <div class="roadmap-row">
        <div class="roadmap-row-milestone">
            <p>Nov</p>
        </div>
        <div class="roadmap-row-content empty">
        </div>
    </div>
    <div class="roadmap-row">
        <div class="roadmap-row-milestone">
            <p>Dec</p>
        </div>
        <div class="roadmap-row-content">
            <h4>v8.0</h4>
            <p>Maintained until v9.0</p>
        </div>
    </div>
</div>

<div class="roadmap-year">
    <h3>2022</h3>
</div>

<div class="roadmap-list-container">
    <div class="roadmap-row">
        <div class="roadmap-row-milestone">
            <p>Jan</p>
        </div>
        <div class="roadmap-row-content empty">
        </div>
    </div>
    <div class="roadmap-row">
        <div class="roadmap-row-milestone">
            <p>Feb</p>
        </div>
        <div class="roadmap-row-content">
            <h4>v9.0</h4>
            <p>Maintained until v10.0</p>
        </div>
    </div>
    <div class="roadmap-row">
        <div class="roadmap-row-milestone">
            <p>Mar</p>
        </div>
        <div class="roadmap-row-content">
            <h4>v10.0 LTS</h4>
            <p>Maintained until the next LTS release.</p>
        </div>
    </div>
</div>