name: Publish

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason'
        required: false
        default: 'Manual trigger'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install dependencies
        run: pip install Lektor

      - name: Build pages
        run: lektor build

      - name: Deploy pages
        env:
          LEKTOR_DEPLOY_USERNAME: lektor-bot
          LEKTOR_DEPLOY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: |
          lektor deploy ghpages

      # needs to use an org. token here to push to a different repo
      # invenio-software.git (with dash)
      - name: Deploy pages-dash
        env:
          LEKTOR_DEPLOY_USERNAME: lektor-bot
          LEKTOR_DEPLOY_PASSWORD: ${{ secrets.LEKTOR_DEPLOY_TOKEN_INVENIOBOT }}
        run: |
          lektor deploy ghpages-dash
