name: Publish

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason'
        required: false
        default: 'Manual trigger'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2.1.4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: pip install Lektor

      - name: Build pages
        run: lektor build

      - name: Deploy pages
        run: |
          lektor deploy ghpages
          lektor deploy ghpages-dash
