<div class="blog-top blog-top-frame">
  <header class="blog-top-header">
    <h2>
      <a href="{{ permalink }}">{{ title }}</a>
    </h2>
    <p class="blog-list-item-meta">
      <i class='fa fa-external-link text-muted'></i>
      <a href="{{ doi }}" target="_blank" rel="noopener noreferrer" class="pr-5">{{ doi }}</a>
      <i class='fa fa-user text-muted'></i>
      <span class="author">
        {{ authors | formatAuthors: post_authors }}
      </span>
      <i class='fa fa-calendar text-muted'></i>
      <span>{{ date | dateFormat }}</span>
      {%- if tags -%}
        {%- for tag in tags -%}
          {%- unless tag == "posts" -%}
            <span class="label label-primary label-tag">{{ tag }}</span>
          {%- endunless -%}
        {%- endfor -%}
      {%- endif -%}
    </p>
  </header>
  <div class="blog-list-item-content">
    {{ content }}
  </div>
  <div class="blog-top-more-link">
    <a href="{{ permalink }}">Read More</a>
  </div>`
</div>
