<div class="hp-blog-list-item-frame">
  <header class="hp-blog-list-item-header">
    <h3>
      <a href="{{ permalink }}">{{ title }}</a>
    </h3>
    <div class="hp-blog-list-item-divider"></div>
    <p class="hp-blog-list-item-meta">
      <i class='fa fa-users text-muted'></i>
      <span class="author">
        {{ post.data.authors | formatAuthors: post_authors }}
      </span>
      <i class='fa fa-calendar text-muted'></i>
      <span>{{ date | dateFormat }}</span>
      <span>
      {%- if tags -%}
        {%- for tag in post.data.tags -%}
          <a class="tag" href="/blog/tags/{{ tag }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
        {%- endfor -%}
      {%- endif -%}
      </span>
    </p>
  </header>
</div>
