<div class="blog-list-item blog-list-item-frame">
  <header class="blog-list-item-header">
    <h3>
      {% if isCard %}
        <a href="{{ permalink }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h3>
    <div class="blog-list-item-meta">
      <i class='fa fa-users text-muted'></i>
      <span class="author">
        {{ post.data.authors | formatAuthors: post_authors }}
      </span>
      <i class='fa fa-calendar text-muted'></i>
      <span>{{ date | dateFormat }}</span>
      <div>
        <i class='fa fa-tags text-muted'></i>
        {%- if post.data.tags -%}
          {%- for tag in post.data.tags -%}
            {%- unless tag == "posts" -%}
              <span class="label label-primary">{{ tag }}</span>
            {%- endunless -%}
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </header>
  <div class="blog-list-item-content">
    {{ content }}
  </div>
  <div class="blog-list-item-more-link">
    {% if isCard %}
      <a href="{{ permalink }}">Read More</a>
    {% endif %}
  </div>
</div>
