<div class="blog-back-button">
  <a href="/blog">Back</a>
</div>
<div class="blog-post blog-post-frame">
  <header class="post-header">
    <h2>{{ title }}</h2>
    <p class="post-meta">
      <i class='fa fa-user text-muted'></i>
      <span class="author">{{ author }}</span>
      <i class='fa fa-calendar text-muted'></i>
      <span>{{ date | dateFormat }}</span>
      <i class='fa fa-users text-muted'></i>
      <span class="label {{ team_colour | default: 'invenio-team' }}"><a class="team-url" href="{{ team_url }}">{{ team }}</a></span>
    </p>
  </header>
  <article class="post-content">
    {{ content }}
  </article>
</div>