<div class="blog-list-item blog-list-item-frame">
  <header class="blog-list-item-header">
    <h3>
      {% if isCard %}
        <a href="{{ permalink }}">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h3>
    <p class="blog-list-item-meta">
      <i class='fa fa-user text-muted'></i>
      <span class="author">{{ author }}</span>
      <i class='fa fa-calendar text-muted'></i>
      <span>{{ date | dateFormat }}</span>
      <i class='fa fa-users text-muted'></i>
      <span class="label {{ team_colour | default: 'invenio-team' }}"><a class="team-url" href="{{ team_url }}">{{ team }}</a></span>
    </p>
  </header>
  <div class="blog-list-item-content">
    {{ content }}
  </div>
  <div class="blog-list-item-more-link">
    {% if isCard %}
      <a href="{{ permalink }}">Read More</a>
    {% endif %}
  </div>
</div>
