<footer>
  <!-- hero footer -->
  <div class="contact-section section-content-dark-bg">
    <div class="container">
      <div class="row">
        <!-- first col -->
        <div class="col-md-6 footer-logo-centered">
          <a href="/">
            <img src="/assets/images/logo-invenio-white.svg" alt="Invenio logo" title="Invenio logo" class="icon-contact" />
          </a>
        </div>
        <!-- second col -->
        <div class="col-md-2">
          <h3 class="contact-title">Products</h3>
          <table class="contact-list">
            <tbody>
              <tr>
                <td><a href="/products/rdm/">InvenioRDM</a></td>
              </tr>
              <tr>
                <td>
                  <a href="/products/ils/">InvenioILS</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/products/framework/">Invenio Framework</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/#products">Get Started</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/showcase/">Examples</a>
                </td>
              </tr>
              <tr>
                <td><a href="/about/">About</a></td>
              </tr>
              <tr>
                <td><a href="/about#logos">Logos</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- third col -->
        <div class="col-md-2">
          <h3 class="contact-title">Community</h3>
          <table class="contact-list">
            <tbody>
              <tr>
                <td><a href="/products/rdm/roadmap/">Roadmap</a></td>
              </tr>
              <tr>
                <td>
                  <a href="/getinvolved/">Get Involved</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/events/">Events & Training</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/support/">Hosting & Support</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/governance/">Governance</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/people/">People</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- fourth col -->
        <div class="col-md-2">
          <h3 class="contact-title">Keep in touch</h3>
          <table class="contact-list">
            <tbody>
              <tr>
                <td>
                  <a href="https://github.com/inveniosoftware">GitHub</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://discord.gg/8qatqBC">Chatroom</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://invenio-talk.web.cern.ch">Talk</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://x.com/inveniosoftware">@𝕏</a>
                </td>
              </tr>
              <tr>
                <td><a href="/blog/">Blog</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /end hero footer -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 centered">
          <span>Copyright &copy; 2016-{{ helpers.currentYear }} CERN &amp; contributors. Icons by <a href="http://fontawesome.io/">Font Awesome</a> and <a href="https://icons8.com/">Icons8</a>. Text is licensed under Creative Commons Attribution 4.0 International.<br>
        </div>
      </div>
    </div>
  </div>
</footer>
