{% assign peopleSorted = people.items | sortBy: 'name', 'status', filterByStatus %}
{%- for card in peopleSorted %}
<div class="person" {% if withRoles %}data-role-container="{{ card.invenio-role }}"{% endif %}>
  <div class="photo">
    {% if card.photo.size > 0 %}
      <img src="/assets/images/people/{{ card.photo }}" />
      {% else %}
      {% assign initial = card.name | slice: 0 | upcase %}
      <div class="initial">{{ initial }}</div>
    {% endif %}
  </div>
  <div class="name">{{ card.name }}</div>
  <div class="institution">{{ card.institution }}</div>
  <div class="role">{{ card.role | join: ", " }}</div>
  <div class="bio">{{ card.bio }}</div>
  {% if card.github or card.linkedin or card.twitter_x or card.bluesky %}
  <div class="social-links">
    {% if card.github and card.github != '' %}
      <a href="{{ card.github }}" target="_blank" rel="noopener noreferrer" aria-label="{{ card.name }} GitHub">
        <i class="fa fa-github"></i>
      </a>
    {% endif %}
    {% if card.linkedin and card.linkedin != '' %}
      <a href="{{ card.linkedin }}" target="_blank" rel="noopener noreferrer" aria-label="{{ card.name }} LinkedIn">
        <i class="fa fa-linkedin-square"></i>
      </a>
    {% endif %}
    {% if card.twitter_x and card.twitter_x != '' %}
      <a href="{{ card.twitter_x }}" target="_blank" rel="noopener noreferrer" aria-label="{{ card.name }} X">
        <i>𝕏</i>
        <!-- <i class="fa fa-twitter"></i> -->
        <!-- <i class="fa-brands fa-square-x-twitter"></i> -->
      </a>
    {% endif %}
    {% if card.bluesky and card.bluesky != '' %}
      <a href="{{ card.bluesky }}" target="_blank" rel="noopener noreferrer" aria-label="{{ card.name }} Bluesky">
        <i class="fa fa-cloud"></i>
        <!-- <i class="fa-brands fa-square-bluesky"></i> -->
      </a>
    {% endif %}
  </div>
  {% endif %}
</div>
{%- endfor %}
