{% extends "page-rdm.html" %}
{% set active_page = "products" %}

{% block page_title %}{{ this.title }}{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_body %}

<section class="roadmap-section section-content-light-bg">
  <div class="container">
    <span class="section-title">Call Schedule</span>
  </div>
</section>

<section class="roadmap-section section-content-light-bg">
  <div class="container">
    <span class="section-title">Project meetings</span>
  </div>
</section>

{% endblock %}
