{% from "macros/roadmap-card.html" import render_roadmap_card %}

{% extends "page-rdm.html" %}
{% block page_title %}{{ this.title }}{% endblock %}
{% block page_subtitle %}January 2021{% endblock %}

{% block page_body %}

<section class="roadmap-section section-content-light-bg">
  <div class="container">
    {% include "roadmap-table.html" %}
    <div class="row roadmap-table">
      <div class="col-sm-4 column">
      </div>
      <div class="col-sm-4 column">
          <h2 class="section-title">Done 🚀</h2>
          <p>What we have recently completed</p>
      </div>
    </div>
    {%- set done_cards = this.children|selectattr("column", "eq", "done") %}
    <div class="row roadmap-table">
    {%- for column in done_cards|slice(3) %}
      <div class="col-sm-4 column">
      {% for card in column %}
        {{ render_roadmap_card(card) }}
      {%- endfor %}
      </div>
    {%- endfor %}
    </div>
  </div>
</section>

<section class="roadmap-section section-content-white-bg">
  <div class="container">
    <h2 class="section-title">Release dates</h2>

    <div class="container">
      <p>
        Following is an overview over the upcoming planned releases. For more information, please read our <a href="https://inveniordm.docs.cern.ch/releases/maintenance-policy/" title="InvenioRDM maintenance policy">maintenance policy</a>.
      </p>
      <div class="road-map-info row">

        <div class="col-sm-6 column">
          <h3>Long-Term Support (LTS) - production-ready</h3>
          <p>
            LTS are releases that can be used for production services. LTS releases are supported with bug and security fixes for minimum 1 year and maximum until 6 months after the next LTS release has been released.
          </p>
        </div>
        <div class="col-sm-6 column">
          <h3>Short-Term Support (STS)</h3>
          <p>
            STS releases should NOT be used for production services. An STS releases is only supported until the next release.
            STS releases are used to ship new features fast so that the community can provide feedback.
          </p>
        </div>
      </div>

    </div>

    {% include "timeline.html" %}
  </div>
</section>

<section class="roadmap-section section-content-light-bg">
  <div class="container">
    <h2 class="section-title">FAQ</h2>
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>What are your top priorities?</strong> <br />
          Our top priorities in the coming period is to ship a) communities feature
          and b) custom fields feature.
        </p>
        <p>
          <strong>When is the roadmap updated?</strong> <br />
          We update the roadmap roughly every 3 months. The next update is
          planned for January 2022.
        </p>
        <p>
          <strong>What does current, near-term and planned mean?</strong> <br />
          <ul>
            <li><strong>Current</strong> means that a development team is currently working on the
          feature.</li>
            <li><strong>Near-term</strong> means that a development team has planned to work on this
          feature as their next task.</li>
            <li><strong>Planned</strong> means that a development team has allocated time on their schedule to start work
          on the feature in the next 6 months.</li>
          </ul>
        </p>
        <p>
          <strong>Will "current" features be released before
          "near-term" features?</strong> <br />
          No. It is not guaranteed that a feature currently under development will
          be released before a feature in the near-term column. Each feature may vary
          greatly in size and required effort, as can the team that implements the
          feature.
        </p>
        <p>
          <strong>When will feature X be released?</strong> <br />
          New features are released as soon as they are ready in the next
          coming release. We on purpose do not communicate in which
          release a given feature will be shipped.
        </p>
        <p>
          <strong>Why do you not tie features to release dates?</strong> <br />
          We want to communicate clearly the inherent uncertainty in our planned
          schedule coming from developing a product as a large open source
          collaboration.
        </p>
        <p>
          <strong>What is the inherent uncertainties in your development schedule?</strong> <br />
          As a large open source collaboration, most our resources comes as opportunistic
          temporary resources. Partners may contribute developers on a short-term/long-term
          basis, full-time or part-time. This means the development teams are rarely stable
          for a longer period, and each team has different velocity and skillset. In addition,
          a large part of the developers participate in running services for their institution
          and services may from to time need immediate attention. We see all these challenges
          as strengths for the InvenioRDM community, that overall helps build a stronger
          and more resilient community, as well as building features that serve
          real needs for our community.
        </p>

      </div>

      <div class="col-md-6">
        <p>
          <strong>Is your internal development schedule public?</strong> <br />
          No. Only InvenioRDM partners have access to the internal development
          schedule.
        </p>
        <p>
          <strong>Why is the internal development schedule not public?</strong> <br />
          The public roadmap accurately communicates the uncertaines in the
          development schedule and ensures we set the proper expectations.

          The internal development schedule on the other is an internal
          planning tool and therefore does not accurately communicate the
          inherent uncertaines. The schedule therefore has a high risk of
          resulting in failed expectations.

          Alternatively, we should communicate features with quite large
          buffer times, but this would also not accurately communicate the
          current fast-paced development.
        </p>
        <p>
          <strong>What is the difference between the internal development schedule and the public roadmap?</strong> <br />
          The only differences between the internal development schedule and the public roadmap
          is that the internal schedule assigns a feature to a) a release date b) a responsible person c)
          participating partners and d) a effort estimate.
        </p>
        <p>
          <strong>Can I use your roadmap to make commitments?</strong> <br />
          Any commitment you make is your own commitment and made at your own risk and
          you must evaluate the impact of not meeting your commitment. If you
          need a specific feature, the best you can do is to help accelerate the roadmap.
        </p>
        <p>
          <strong>How can I help accelerate the roadmap?</strong> <br />
          We will be happy to explore with you, how you can best help accelerate the
          roadmap. Please get in touch with the Product Manager (<a href="mailto:lars.holm.nielsen@cern.ch">lars.holm.nielsen@cern.ch</a>). Options include anything from contributing developers to contracting
          out work to other InvenioRDM partners.
        </p>
      </div>
    </div>
  </div>
</section>


{% endblock %}
