{% extends "page.html" %}
{% set active_page = "products" %}

{% block page_title %}{{ this.title }}{% endblock %}
{% block page_subtitle %}The road to Invenio RDM{% endblock %}
{% block page_body %}

<section class="roadmap-section section-content-light-bg">
  <div class="container">
    <span class="section-title">Roadmap</span>
    <div class="roadmap-year"><h6>2019</h6></div>
    <div class="roadmap-list-container">
      <div class="roadmap-row">
        <div class="roadmap-row-milestone">
          <p>Jul</p>
        </div>
        <div class="roadmap-row-content">
          <h3>Invenio RDM begins</h3>
          <ul>
            <li>Kick-off meeting</li>
            <li>Core specifications</li>
          </ul>
        </div>
      </div>
      <div class="roadmap-row">
        <div class="roadmap-row-milestone">
          <p>Aug</p>
        </div>
        <div class="roadmap-row-content">
          <h3>Specifications phase</h3>
          <p>Customisation specifications</p>
        </div>
      </div>
      <div class="roadmap-row">
        <div class="roadmap-row-milestone">
          <p>Sep</p>
        </div>
        <div class="roadmap-row-content">
          <h3>Specifications phase</h3>
          <p>Extension and Deployment requirements</p>
        </div>
      </div>
      <div class="roadmap-row">
        <div class="roadmap-row-milestone">
          <p>Oct</p>
        </div>
        <div class="roadmap-row-content">
          <h3>Outreach and Begin development</h3>
          <ul>
            <li>Invenio RDM Website</li>
            <li>FORCE2019</li>
          </ul>
        </div>
      </div>
      <div class="roadmap-row">
        <div class="roadmap-row-milestone">
          <p>Nov</p>
        </div>
        <div class="roadmap-row-content">
          <h3>Alpha period</h3>
          <ul>
            <li>Review milestone</li>
            <li>Demo site</li>
          </ul>
        </div>
      </div>
      <div class="roadmap-row">
        <div class="roadmap-row-milestone">
          <p>Dec</p>
        </div>
        <div class="roadmap-row-content">
          <h3>Alpha period</h3>
          <ul>
            <li>Migration</li>
            <li>Customisation features</li>
            <li>Docker Deployment</li>
            <li>TOC</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="roadmap-year"><h6>2020</h6></div>
    <div class="roadmap-list-container">
      <div class="roadmap-row">
        <div class="roadmap-row-milestone">
          <p>Jan</p>
        </div>
        <div class="roadmap-row-content">
          <h3>Beta period</h3>
          <ul>
            <li>SAML/LDAP</li>
            <li>S3</li>
            <li>Previewers</li>
          </ul>
        </div>
      </div>
      <div class="roadmap-row">
        <div class="roadmap-row-milestone">
          <p>Feb</p>
        </div>
        <div class="roadmap-row-content">
          <h3>Beta period</h3>
          <ul>
            <li>Review milestone</li>
            <li>Governance</li>
          </ul>
        </div>
      </div>
      <div class="roadmap-row">
        <div class="roadmap-row-milestone">
          <p>Mar</p>
        </div>
        <div class="roadmap-row-content">
          <h3>Beta period</h3>
          <ul>
            <li>Migration</li>
            <li>I18N</li>
          </ul>
        </div>
      </div>
      <div class="roadmap-row">
        <div class="roadmap-row-milestone">
          <p>Apr</p>
        </div>
        <div class="roadmap-row-content">
          <h3>Release Candidate period</h3>
          <p>Customisable Docker Deployment</p>
        </div>
      </div>
      <div class="roadmap-row">
        <div class="roadmap-row-milestone">
          <p>May</p>
        </div>
        <div class="roadmap-row-content">
          <h3>Release Candidate period</h3>
          <ul>
            <li>Review milestone</li>
            <li>Migration</li>
            <li>Documentation</li>
          </ul>
        </div>
      </div>
      <div class="roadmap-row">
        <div class="roadmap-row-milestone">
          <p>Jun</p>
        </div>
        <div class="roadmap-row-content">
          <h3>Release</h3>
          <ul>
            <li>Migration</li>
            <li>Tracking site</li>
            <li>Website update</li>
            <li>Bootcamp</li>
            <li>Governance</li>
            <li>Roadmap</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
